[2016-04-18 23:23] kevinvangelder opened #2 "Unable to run on iPhone 5 simulator"
![](https://api.monosnap.com/rpc/file/download?id=xYblH6yrKPdOEVLWZPutDaRorokguZ)

[2016-04-19 03:27] #2 closed, assigned to nobody

[2016-04-19 18:12] kevinvangelder opened #5 "`c` to Clear?"
`-` is great but sometimes I'm OCD and want to clear everything between tasks or tests.

[2016-04-19 18:14] kevinvangelder opened #6 "Add `-` to Legend"

[2016-04-19 18:46] kevinvangelder opened #7 "Make Subscriptions Failsafe?"
Subscribing incorrectly can crash the app.

[2016-04-20 20:48] lucasfeliciano opened #10 "Split client and API"
Why don't you split the client ( binary ) to another repo like `reactotron-cli` so you can install it globally and therefore in the `devDependencies` of your project you just add the javascript api `reactotron` to connect to the client?

[2016-04-20 20:55] lucasfeliciano commented on #7
More info about this would be good so people can try to fix it.

[2016-04-20 21:01] kevinvangelder opened #11 "Allow drilling down through the state tree by clicking to open modal windows?"

[2016-04-20 21:01] skellock commented on #10
I was really torn about how to implement this.  What you're saying is totally legit.

I ended up going with a unified library instead because it's all just `devDependencies` anyway.  You can still install it via npm globally if you wish, but some people get squirrely with that.

I'll keep this in mind though as we go.  It might have to be something I reconsider when adding the `react-dom` support

[2016-04-20 21:02] skellock commented on #11
So like an "explore mode" to drill down the redux state tree?

[2016-04-20 21:11] kevinvangelder commented on #11
Yeah, pretty much.

[2016-04-20 21:11] lucasfeliciano commented on #5
👍

[2016-04-20 21:13] skellock commented on #5
Ya, there's 4 "secret" commands available at all times.  Need to do a better job of displaying that.

https://github.com/skellock/reactotron/blob/master/server/index.js#L36

[2016-04-21 02:39] kevinvangelder commented on #7
Subscribing to a non-existent portion of the state tree causes otherwise healthy apps to crash. I'm not yet very familiar with the code, but I suspect this could be remedied by surrounding the subscriptions on the client side with a try/catch.

[2016-04-21 12:57] lucasfeliciano opened #13 "Dynamic UI"
What about "render" the UI after reactotron is connected?

Doing that we can see which of the features are connected and just render the boxes that matter for that session.

[2016-04-21 12:59] skellock commented on #13
Clever.  Solves a couple of problems.

People who don't use the API shouldn't be penalized on screen real-estate.

Also, prevent the user from sending commands when no app is connected.

Good idea.

[2016-04-21 13:11] skellock opened #14 "Make an option to use at global level"
I know it is slightly ghetto, but, if we gave people the option to install `reactotron` into `globals`, then when you wanted to do some quick logging through your app, you could not have to `import Reactotron from 'reactotron'`.

This will be opt-in.

[2016-04-21 18:26] derekyau opened #16 "Can't import reactotron package"
I can't seem to import the reactotron package.

in my .js file, I try to `import Reactotron from 'reactotron'` but I get a module parse error something like:

`ERROR in ./~/reactotron/index.js
Module parse failed: /path/to/file.js Line 2: Unexpected token
You may need an appropriate loader to handle this file type.
|
| import Client from './client/reactotron/client'
|
| export default Client
 @ ./

[2016-04-21 19:09] kevinvangelder opened #17 "Deep merge `window.navigator.userAgent`"
Currently, the client is completely blowing away the `window.navigator` if there is no `userAgent`, however this interferes with React Native tools such as `geolocation` that are bound to `window.navigator`. Instead we should do a deep merge.

[2016-04-21 20:35] skellock commented on #17
Agreed.  Thank you.

[2016-04-21 20:36] skellock commented on #16
I think my way out of this is to babel transpile and distribute that as the library instead.

Thanks man!  Standby.

[2016-04-21 21:04] andrewvy opened #18 "ImmutableJS Support"
This is AMAZING. 😁

Perhaps we have an `Reactotron.addImmutableReduxStore(store)` alternative of https://github.com/skellock/reactotron/blob/master/client/reactotron/client.js#L84 and I think that should be it? I didn't look entirely too deep yet.

I'll see if I can cobble something together if this is something you want to support. Or I can run a forked version if including ImmutableJS is too muc

[2016-04-21 21:07] skellock commented on #18
Thank you.  You mean http://facebook.github.io/immutable-js/ ya?

I've tried it with `seamless-immutable`, but not Immutable.js.  Do you see an error when you run it?

[2016-04-21 21:10] andrewvy commented on #18
No errors, as paths passed into your `RS` methods will return `null`.

ImmutableJS data structures can only be accessed via `.get` and `.getIn`. I also realize you can possible not need to include the library by checking for those methods and using them instead. :)

[2016-04-21 21:11] skellock commented on #18
Ahhhhhhhhh... Totally get what you're saying now.

Thank you.  Ya that should be no problem at all.

[2016-04-21 21:22] GantMan opened #19 "Attempting to build client"
verified on my machine and another person's (@fvonhoven) - babelHelper.typeof

### Steps
1. `cd reactotron`
2. `npm i`
3. `cd client`
4. `npm i`
5. `react-native run-ios`

![simulator screen shot apr 21 2016 11 51 23 am](https://cloud.githubusercontent.com/assets/997157/14724485/138d4d0a-07dc-11e6-8b7e-931a5c9c00cc.png)

[2016-04-21 21:25] skellock commented on #19
Verified here too after I nuked my node_modules and reconstructed it.

I think what I'll do is split up the 3 sample runtimes a little better.  Thank you @GantMan and @fvonhoven !  i'll get this patched up.

[2016-04-22 01:46] #5 closed

[2016-04-22 01:47] skellock commented on #6
Addressed in #23

[2016-04-22 01:47] #6 closed

[2016-04-22 03:54] skellock commented on #19
I ended up reorganizing stuff.  There was indeed collisions because of the nested npm packages.  So strange.  I've never seen that before.

So now... there's `examples` and `src`.

See the notes in the `examples/README.md` for the one caveat about the `client.js` file.

[2016-04-22 03:54] #19 closed

[2016-04-22 07:28] Hyra commented on #16
I was going crazy with my webpack config as well. Standing by!

Thanks for your efforts, sir.

[2016-04-22 10:57] lindskogen opened #26 "Support for fetch"
Logging `fetch` requests

[2016-04-22 11:28] skellock commented on #26
We'll have to do `fetch` logging manually.  It doesn't support:

* a pipeline you hook to passively monitor all requests
* a timer
* the ability to always `resolve` the promise instead of `reject`ing it.

Up till now, `apisauce` had preferential treatment because it was trivial to implement, and has no impact at all at the call sites of each request.

What we should do though, is provide a consist

[2016-04-22 14:21] #17 closed

[2016-04-22 16:30] skellock commented on #16
Ok, we are now babelifying on our end.  0.3.0 is now out.  Give that a shot lemme know.

[2016-04-23 01:44] skellock opened #33 "Support For React Native Android"
Right now, `socket.io` isn't working too well on Android.

There's a whole series of errors around globals not being setup in the right way.  For example, it expects `navigator` to be in the global scope AND in the `window` scope.  Strange.

It also expects `String`, `Object`, and `Date` properties on `window`.

So after all that gets fixed, it still doesn't work 100% with websockets.

We can fall

[2016-04-23 12:24] skellock commented on #33
Everything I just said was a lie.

Here it is working on android with version 0.4.0.

![image](https://cloud.githubusercontent.com/assets/68273/14761345/754d424c-092c-11e6-8278-bb5210caeb54.png)

I'm happy this is working, but I'm so confused why it stumped me before.  Was it that I forgot to `adb` port forward to reactotron's port?   Did i have a borked copy of `socket.io` in my node_modules (i w

[2016-04-23 12:34] skellock opened #35 "Show client-identifying info on connection"
It'd be cool if `reactotron` showed info about the clients upon connecting.

Right now it says "connected", but could we log an object instead:

[code]

I realize some of this information is just not available without native plugins.  But I'd be happy with the first two to start.

[2016-04-23 21:39] skellock opened #38 "Action timestamps are reporting 0ms now."
Noticing timestamps on the actions (the middleware) aren't working any longer.

Probably something simple.  This coincided with the rebase and hand resolving.  Classic @skellock.

[2016-04-23 22:14] ahmed1490 opened #39 "React Native: Store enhancer is not a function"
<img width="277" alt="screenshot" src="https://cloud.githubusercontent.com/assets/623510/14764256/8562ca32-09b1-11e6-8ea4-389cbab3786e.png">

Code..
<img width="759" alt="screenshot" src="https://cloud.githubusercontent.com/assets/623510/14764254/704fea80-09b1-11e6-89b5-5d2819749889.png">

[2016-04-23 22:22] skellock commented on #39
The store enhancer just landed in `master` this morning.  A build hasn't been cut yet though.  It'll be `0.5.0` later tonight or early tomorrow.

Can you verify you're installing `0.4.0`?  Or are you indeed off `master` here?

[2016-04-23 22:52] skellock commented on #35
Today's feature brought to you by the number #37 .

[2016-04-23 22:52] #35 closed

[2016-04-23 23:10] skellock commented on #38
It seems to actually be the new `storeEnhancer`.  The performance tracking seems to wrap the dispatching of the action through the enhancer chain and not the execution of the action itself.

Taking that out and just using our middleware works great.  So it's not the new timing callbacks (which is kinda cool actually).

Still investigating.

/cc @andrewvy

[2016-04-23 23:27] andrewvy commented on #38
Thanks for debugging. I guess my understanding of the store enhancer isn't quite right or my implementation is off, I thought it should be able to wrap the root reducer and be able to call rest of the reducer.

[2016-04-23 23:27] ahmed1490 commented on #39
You are right! I was in 0.4.0 :)

[2016-04-24 01:03] #38 closed

[2016-04-24 01:34] skellock commented on #39
Alrighty, 0.5.0 is on its way to the press.  This contains the new store enhancer.  Lemme know if you have any problems at all!

[2016-04-24 01:34] #39 closed

[2016-04-24 01:35] #16 closed

[2016-04-24 01:37] skellock commented on #33
This was a self-imposed bug which was caused by the crazy merging of a default UserAgent for React Native.  Overthinking it.

Android is good to go!

(don't forget to `$ANDROID_HOME/platform-tools/adb reverse tcp:3334 tcp:3334` to get that port forwarding working -- only supports android 5+)

[2016-04-24 01:37] #33 closed

[2016-04-24 01:43] skellock opened #41 "Make a way to script the version number on the client.js"
As of `0.5.0`, there's a `VERSION` const inside the `client.js`.

Find a good way to script this to tie to the appropriate number.  We currently use `xyz` to deploy, so hopefully it has a sane way to deal with this.

[2016-04-24 02:47] andrewvy opened #43 "Register actionCreators for use on the server"
An interesting idea is being able to register names of Action Creators on the app and allowing the server to interface with them.

Something like the `client` sending the available actionCreators on connect, which is just an array of keys sent to the server.

When the server wants to use an action creator, it can send an action along the lines of..

[code]

Which the client can then execute and di

[2016-04-24 03:00] skellock commented on #43
Well, we have the ability to `dispatch` already.  It'd be just a matter of sending the list of action creators to the client to arm them.

How would we deal with parameters though?  And types?

[2016-04-24 03:04] andrewvy commented on #43
Yeah.. this does open a can of worms. I'm honestly not sure, you could leave it up to the user to know how to use their action creators. But that definitely leads to executing the action creator with wrong params, causing a crash on the client. :thought_balloon:

[2016-04-24 03:11] skellock commented on #43
Well, with a store enhancer, we could track all dispatched actions, and analyze what the the types are of the arguments, but then you'd have to dispatch an action to "qualify", which doesn't sound awesome at all.

Another option could be ...

When the server starts up, it could open up your action creator files and analyze then with something like https://github.com/facebook/jscodeshift .

Now tha

[2016-04-24 03:30] skellock commented on #14
Don't really need a feature for this.

It's a 1-liner for react native:

`global.reactotron = Reactotron`

Do that at startup and you can now use it anywhere without doing an `import`.

[2016-04-24 03:30] #14 closed

[2016-04-24 13:45] skellock commented on #41
Fixed by #45

[2016-04-24 13:45] #41 closed

[2016-04-25 07:20] FakeYou opened #46 "Subscribing to an object"
It would be nice if we were able to subscribe to an object, currently when you subscribe to an object you only see `[object Object]`.

[2016-04-25 12:13] skellock commented on #46
Thanks for the issue.   The problem with this is:  how deep to you traverse?  What if that object has another object.  The current app I'm building has a pretty deep tree.  In my case, I wouldn't want to traverse past 1 level.

But, did you know...

You can type `user.*`?    That will auto grab each key for you.

[2016-04-25 13:14] FakeYou commented on #46
That `user.*` is just what I wanted, thanks!

Awesome project btw!

[2016-04-25 13:16] skellock commented on #46
Thank you!  Once we get #11 implemented, there will be a little nicer way to add watches.

[2016-04-25 13:16] #46 closed

[2016-04-26 03:49] kidwm opened #47 "why not using react-blessed?"
and BTW, don't you think the name "Reactron" is more powerful!

https://en.wikipedia.org/wiki/Reactron

[2016-04-26 04:25] skellock commented on #47
The original plan was to use `react-blessed`.  I felt i needed to checkout `blessed` first.  It was so easy that I never came back to `react-blessed`.

I think the next step in the UI is to implement the grid system found in `blessed-contrib` though.

Reactron looks pretty bad-ass.  This library, however, is Irish.

[2016-04-26 04:25] #47 closed

[2016-04-26 09:13] maraujop opened #48 "Requiring unknown module "socket.io-client/socket.io""
Hi Steve,

First, thanks for releasing such a wonderful tool. I decided to give it a go in the project we are building. I upgrade to version RN 23 first without issues, then I added to `App.js` which is used by both platform indexes:

[code]

This goes before configuring the redux store. However I'm getting this red screen:

![captura de pantalla 2016-04-26 a las 11 08 37](https://cloud.githubuser

[2016-04-26 11:13] skellock commented on #48
Hi Miguel,

How did you install?  `npm i reactotron --save-dev`?

It sounds like the dependency on socket.io failed to be installed properly.

Looks like you're on Android too.  Try another `react-native run-android`.

One other thing, you've got two `connect()` calls.  You only need one.  Try nuking the first one.

Lemme know how it goes.

[2016-04-26 12:12] maraujop commented on #48
Hi Steve,

That's right, I installed it with `--save-dev` argument, If I list `node_modules` directory inside reactotron I get:

[code]

Nothing about `socket.io`, which I'm guessing smells.

Yes, I'm in Android too, I've recompiled several times, but it's not fixing the issue. I removed the first connect, but that didn't help either.

Thanks for your super fast answer!
Miguel

[2016-04-26 12:15] skellock commented on #48
Woah.  ya, that's not right.

https://github.com/skellock/reactotron/blob/master/package.json#L41

Hmm...

What happens if you type `npm install socket.io --save` from your project?  can you install it explicitly?

[2016-04-26 12:19] maraujop commented on #48
I just tried to install `socket.io` with your command and it did work:

[code]

I'm surprised too, if you have it listed in your `package.json` it should be installed, I'm gonna check if I can upgrade my npm.

[2016-04-26 12:30] skellock commented on #48
Here's my setup (osx 10.11.4 & brew-based node)

![image](https://cloud.githubusercontent.com/assets/68273/14818030/c3bf2cde-0b88-11e6-9f04-6c604622a7f2.png)

[2016-04-27 02:16] avioli commented on #48
Well... `socket.io-client` is a dependency for `socket.io`. Prior `npm 3`, modules' dependencies were not available to all other modules and sub-modules. Not even the main project!

[2016-04-27 02:27] avioli opened #49 "Unable to resolve module fbjs/lib/performanceNow"
Got an error while using Reactotron: `Unable to resolve module fbjs/lib/performanceNow`.

The issue is that `fbjs` is not a dependency of this project, of course.

When running `npm3+` it is assumed that it will exist because of `react` or even `react-native` has it as a dependency. Unfortunately, when I got the error I was not running `npm3`, but `npm 2.14.12`, which keeps all modules' sub-module

[2016-04-27 02:32] avioli commented on #49
I'm using `node 4.3.1`, so the Requirement of `4.x+` is ticked.

[2016-04-27 04:53] VansonLeung opened #50 "How to make Genymotion react native connect Reactotron?"
I used Google Nexus 5 - 4.4.0 emulator Genymotion.

Running this:
[code]
Won't connect.
Is there any criteria I missed?

[2016-04-27 05:03] jhen0409 commented on #50
Try this:

[Android 4.x] Use `10.0.3.2` instead of `localhost` on Genymotion:

[code]

[Android 5.0+] just run command:

[code]

[2016-04-27 09:16] maraujop commented on #48
I use nvm, and I've installed node v5.10.1 as you have, also with npm 3.8.6. I delete my `node_modules` and reinstall everything. Apparently since version 3 of npm dependencies are flatten in `node_modules` directory. However after doing so, I hit random packager bugs reported in RN. Specially this one:

![captura de pantalla 2016-04-27 a las 10 42 31](https://cloud.githubusercontent.com/assets/25

[2016-04-27 09:58] skellock commented on #49
Thank you for the info.  I'll see if I can remove fbjs entirely first. I am only using it for performing timing.

[2016-04-27 10:04] skellock commented on #50
Ya, on Android 4.x, it doesn't know how to reach back to your computer.  Like @jhen0409 said, you'll have to enter your IP address just like you did for your packager.  Thanks @jhen0409.

Is that IP always 10.0.3.2 for Genymotion?

[2016-04-27 10:14] skellock commented on #48
Thanks guys.  For npm 2.x, I wonder if it is simply required to add dependencies for socket.io's dependencies too? Seems odd.  I'll look at other packages for socket.io and see what they do.

@maraujop - what happens if you remove reactotron from the equation? Does it work?  Is it something in this module that is triggering this problem?

[2016-04-27 11:28] jhen0409 commented on #50
Yes, it's different from the Android SDK emulator (10.0.2.2), and these are forward to `localhost` of host machine.

[2016-04-27 11:34] skellock commented on #50
Hmm... I wonder if there's a way to detect the runtime environment then in Android?  Maybe auto set this up?

The part of the brain that's responsible for logic & self-preservation is yelling:  NO!  BAD IDEA!  DON'T DO IT!

I'm going to dig a bit.

[2016-04-27 13:19] skellock commented on #49
I removed this dependency and brought the 3 lines of code into the project.

Thanks @avioli for calling that out.

`0.6.1` is now live with this fix.

[2016-04-27 13:19] #49 closed

[2016-04-27 13:20] skellock commented on #48
I just pushed `0.6.1` which now supports Node 4.x and npm 2.x.

Would you mind giving that a go @maraujop ?

Thank you kindly!

[2016-04-27 15:53] maraujop commented on #48
Thanks Steve,

I can confirm the bug fix did work. I've just installed `0.6.1` with npm 2 and it no longer prompts a red screen, great! I'm so excited to see reactotron working :)

About when I use npm 3, I believe in that case it is another module the one that triggers the issue, however it will be hard to find, like find a needle in haystack.

I'm closing the issue and thanks for your great supp

[2016-04-28 11:32] maraujop commented on #48
Ok,

Today I discovered that reactotron 0.6.1 binary currently needs socket.io installed standalone apart to work. I happened to have it installed from one of my several tests and I didn't realize it until now. It doesn't affect the rest of the library, only running the CLI.

[code]

Maybe this helps, polishing the missing pieces, although I can still use it easily, just installing socket.io apart

[2016-04-28 11:46] skellock commented on #48
I can't seem to reproduce this.  I've tried on node 4.x, 5.x, and 6.x on a fresh project.

I do have `socket.io` and `socket.io-client` listed as dependencies, but only as of 0.6.1.  Can you:

`npm rm -D reactotron`
`npm i -D reactotron`

Does that work?

[2016-04-28 22:54] #50 closed

[2016-04-29 23:47] seethroughtrees opened #53 "socket.io seems to be a pre-built..."
Very anxious to try this out, looks incredible.

However, when adding the initial config, just like the ReactDOM example:

I get this running webpack:

[code]

I have tried installing socket.io and socket.io-client directly.

Any ideas?

Thanks in advance.

[2016-04-30 00:53] skellock commented on #53
I too have seen that.  Not quite sure what that's all about.  That's exactly what we want.  The prebuilt version.  I'll dig a bit more into that and get some answers.

[2016-04-30 12:27] skellock commented on #53
So, you're right.  For webpack, we should be using:

`var io = require('socket.io-client')`

However on React Native we need to use:

`var io = require('socket.io-client/socket.io')`

Webpack wants use the non-prebuilt version because it can do a better job of optimizing what needs to be in the build.

So.... I need to be able to detect that we're running in a webpack environment and require `sock

[2016-04-30 21:24] seethroughtrees commented on #53
That did the trick!  Thanks @skellock ... It was actually more than a warning as it was preventing Webpack from compiling.  So hopefully this helps some other people too.

Thanks again!

[2016-04-30 21:24] #53 closed

[2016-05-04 11:46] DanielMSchmidt opened #54 "Add ApiLog support for superagent"
Hi there,

First of all thanks for this great tool! I was wondering if there would be any interest in adding support for [superagent](https://www.npmjs.com/package/superagent), I would love to implement this. I guess I would only have to [change the APILog command](https://github.com/skellock/reactotron/blob/master/server/commands/api/apiLog.js). Is there any interest from your side in adding such

[2016-05-04 12:37] skellock commented on #54
Hello @DanielMSchmidt!

I'd love to support more than 1 type of API.  #26 is related to this one too.

The API support that went into reactotron was a bit short sighted.  My bad.

I think the way out of this is to move much of that logic to the client.  So we only pass data to the server in a format that works for every networking api.

[code]

Something along the lines of that.

I've got a few da

[2016-05-04 12:40] skellock opened #55 "Big output is slow output."
So, I've experienced this, but not quite traced it through yet.

Reactotron gets really slow and pegs the CPU sometimes.  I'm not sure if its related to the code colourizing, web sockets, or something tragic I've done.

[2016-05-04 13:03] DanielMSchmidt commented on #54
Okay, have a nice vacation! If you would build the server side endpoint I would go ahead and build the superagent specific parts, maybe as an own module to be more flexible in the next versions.

[2016-05-24 11:42] deoqc opened #56 "Support for inspecting redux actions"
I believe that inspecting the dispatched actions is a must. Is there a plan to support it or is it out-of-scope for this project?

[2016-05-24 12:31] skellock commented on #56
Agreed 100%.  It is in, but hidden because it sometimes dispatched actions can contain way too much info.

I'll revisit this to see if I make it an option to toggle.

Thanks for taking the time to log an issue.

[2016-06-03 12:58] vikeri opened #57 "Support for re-frame (ClojureScript)"
This seems quite excellent. And fortunately it would conceptually work very well with the popular ClojureScript frontend framework [re-frame](https://github.com/Day8/re-frame) that is very similar to Redux but implemented in ClojureScript.

Would it be possible to open this up for other uni-directional data implementations than Redux? Maybe provide some kind of API?

[2016-06-04 14:08] skellock commented on #57
Heyo!

This is very possible.  Actually this is very similar in spirit to the solution proposed to #54.

I'll take a look at re-frame to see what's up.

Do you think this would require a ClojureScript client?  Or can you call JS directly?   As you can tell, I know nothing about it.

[2016-06-04 18:43] vikeri commented on #57
Great to hear! ClojureScript can call JavaScript directly so no need to implement it in ClojureScript. Being a functional language it is preferable to interact with functions rather than objects though.

[2016-06-10 10:02] aksonov opened #58 "MobX"
They have devtools already, but it doesn't support react native... https://github.com/mobxjs/mobx-react-devtools

[2016-06-10 11:05] skellock commented on #58
Absolutely.  Stay tuned.

[2016-07-18 08:11] maraujop commented on #48
Thanks Steve and sorry for the late answer, I've had health issues lately and I've out of the internet for a while.

You were right it does work.

Cheers,
Miguel

[2016-07-18 11:20] skellock commented on #48
On behalf of the citizens of the Internet, welcome back!  👋

[2016-07-18 11:28] avishayil opened #61 "Alt support"
Hi,
Is there any chance for alt flux support?
https://github.com/goatslacker/alt

Create store using alt:
[code]

[2016-07-18 11:31] skellock commented on #61
I've got a rebuild on the go which makes Reactotron state agnostic.  Instead of pushing up redux-specific info, I push `json`.  It's a really subtle difference but it will allow us to use different stores such as Redux, Mobx, and apparently `alt flux` which I'm just learning about as I type this.

We will have to write a small plugin to support this, however.

Lemme click around on their site and

[2016-07-18 11:44] skellock opened #62 "Slow Down and 100% CPU Usage"
One thing I've noticed is that Reactotron gets slow over time.  Eventually it pins the CPU at 100%.

I think this is websockets related (or how I handle them).

It seems to show up sooner the more I reload & hot reload my React Native apps.

:(

[2016-07-18 11:55] avishayil commented on #61
Thanks for the quick response! really looking for it!

[2016-07-19 19:34] skellock opened #63 "Debug messages when we cannot connect"
I heard here (https://github.com/infinitered/ignite/issues/261) that some setups have an issue connecting from the client to the server.

We should add some kind of debugging tips (even if it's just console.log) that help understand exactly where the problem lies.

[2016-07-30 11:16] skellock commented on #10
I've got a new version coming out that splits this as you've suggested.  Thank you.

[2016-07-30 11:16] #10 closed

[2016-08-03 08:12] edoloughlin opened #79 "License?"
package.json says MIT, but there's no LICENSE file. Any chance of adding one? I'd really like to try this out at work but can't unless the license is crystal clear.

[2016-08-03 11:01] #79 closed

[2016-08-03 11:01] skellock commented on #79
Sorry about that.  Good to go!  Thanks for the heads up.

[2016-08-03 19:52] amirfl opened #80 "How to run on startup [question]"
I'm trying to follow the suggestion from the readme to start the Reactotron server from the script section of package.json, but can't really get it to work. I'm running it for a react-native project.
Reactotron runs fine when I type
$ node_modules/.bin/reactotron
in the command line.

I've tried
    `"scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start && node_modules/.

[2016-08-03 21:40] skellock commented on #80
I'd recommend running these as two different tasks.  So keep the npm start task as is, and then add another entry for `{ "tron": "node_modules/.bin/reactotron" }`.

Then in 2 terminal sessions run 1 of each.

[2016-08-03 23:38] #80 closed

[2016-08-09 04:21] skellock commented on #54
We now use `json` as in interface between the client & server, so it's now possible to write a `superagent` if you'd like.  Probably just need to hook the `on('end')` callback or something.

Here's the interface:
https://github.com/reactotron/reactotron/tree/next/packages/reactotron-core-client#apiresponse

Here's an example of what it might look like:
https://github.com/reactotron/reactotron/blob

[2016-08-09 04:21] #54 closed

[2016-08-09 04:23] skellock commented on #26
Coming soon, but we now have an interface which you can write your own plugin for the API communication.

Here's the interface:
https://github.com/reactotron/reactotron/tree/next/packages/reactotron-core-client#apiresponse

Here's an example of what it might look like:
https://github.com/reactotron/reactotron/blob/next/packages/reactotron-apisauce/src/index.js

[2016-08-09 04:23] #26 closed

[2016-08-09 04:25] skellock commented on #43
I can't really think of a good way of adding this without a lot of effort from the calling app.  I'd hate to impose a structure on their app either.  I'm going to close this.  Thanks dude!

[2016-08-09 04:25] #43 closed

[2016-08-09 04:31] skellock commented on #57
So for 1.0, we'll have a JSON interface between the client and server.  This paves the way for some custom stuff like what you're looking for.

https://github.com/reactotron/reactotron/tree/next/packages/reactotron-core-client#messages

Coming soon.

[2016-08-09 04:31] #57 closed

[2016-08-09 04:32] skellock commented on #56
This will be in the Electron version.  I'll still look into the CLI, but it'll be after 1.0.  Thanks!

[2016-08-09 04:32] #56 closed

[2016-08-09 04:34] skellock commented on #61
1.0 will be driven by a JSON interface, so it'll be possible to write your own plugin to support Alt.  I'll be shipping redux (already done) and mobx stores as examples.

You can see the interface here:

https://github.com/reactotron/reactotron/tree/next/packages/reactotron-core-client#messages

Look for the `state.*` messages.  Hopefully they make sense in the context of alt.

[2016-08-09 04:34] #61 closed

[2016-08-09 04:36] skellock commented on #62
It's running significantly faster on the Electron version.  Still on my radar for the CLI.

[2016-08-09 04:40] skellock commented on #55
On the CLI, lets detect a maximum size we're cool with and render larger ones with a warning instead of spitting everything out.

[2016-08-09 09:29] DanielMSchmidt commented on #54
Awesome, I will have a look at it soon

[2016-08-11 10:54] ruskid opened #100 "Disable yellowbox warning"
Is there any config option to disable the warnings?

[2016-08-11 11:10] skellock commented on #100
Not currently.  I'll put one in.  Thanks for the heads up

[2016-08-16 11:48] mihirsoni opened #129 "It doesn't work with SSR"
Hi,
Thanks for the wonderful too. It seems it doesn't work with SSR or am I doing something worng ?

I am getting  following error.

[code]

[2016-08-16 12:48] mihirsoni commented on #129
Okay , I am able to make it work with using `__SERVER__` Flag form webpack saying that , require in store only if it is client.

[code]

[2016-08-16 17:11] panta82 opened #131 "Dispatch doesn't reach enhancers (sagas, loggers)"
I'm a noob with react native, so excuse me if I'm missing something obvious.

I created a new ignite app. I modified `App/Sagas/index.js` with the following content:

[code]

(I added the `test` function).

I modified the Startup saga like this:

[code]

When I launch the app, I see the DEV saga logged in console, and "dev" being written in the chrome console. I can also see the DEV action logged

[2016-08-16 17:36] zalmoxisus commented on #131
Similarly to [Redux DevTools extension](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/Troubleshooting.md) and [Remote Redux DevTools](https://github.com/zalmoxisus/remote-redux-devtools/blob/master/src/devTools.js#L307-L309), there should be an `updateStore` method.

When https://github.com/reactjs/redux/pull/1702 gets merged, this workaround wouldn't be necessary.

[2016-08-17 18:39] GantMan opened #132 "reactotron-redux - Github link"
https://www.npmjs.com/package/reactotron-redux

Clicking the github link on the right side results in a 404, probably since you moved packages out?

Would love to see the source of `reactotron-redux` not sure where it is anymore.  Filing issue here out of shear stupidity.

[2016-08-17 20:37] skellock commented on #132
Sorry @GantMan .  I think this is caused because I'm living off the `next` branch and not `master`.

I'll swap over next week.

Here's the components you're seeing.

https://github.com/reactotron/reactotron/tree/next/packages

If you're doing PRs', make sure you're targeting `next`.   Until `next` week!  :)

Sorry.

[2016-08-17 20:37] #132 closed

[2016-08-18 19:35] skellock commented on #129
Thanks.  Do you know if there's a bootstrap repo out there where I could try using this?  I've never created an isomorphic type app.  :)

[2016-08-18 19:37] skellock commented on #131
I actually experienced in the rebuild too.  I thought I was loosing my mind.

Thanks for the info @zalmoxisus , i appreciate the heads up ❤️

[2016-08-18 19:42] skellock commented on #62
Closing this out... much much better now in the `next` branch.

[2016-08-18 19:42] #62 closed

[2016-08-18 20:33] panta82 commented on #131
For what it's worth, to fix my problem, I ended up removing this line

[code]

 from the `storeEnhancer`, and calling it after I have the completed store object.

Not sure if this is viable solution for the library itself, though.

[2016-08-18 20:37] skellock commented on #131
Thank you very much for following up.

[2016-08-19 04:35] mihirsoni commented on #129
@skellock I will try to push the bootstrap repo or you can try the same with [this boilerplate](https://github.com/erikras/react-redux-universal-hot-example). So basically you have to make sure you add middleware only on client.

I have added that on document with PR, that worked for me and seems the actual solution.

Let me know if you need more information.

Thanks for the great tool.

[2016-08-23 21:29] skellock commented on #131
Hey, so following up here to probably say something y'all already know.

Seems like the enhancer order matters.  Putting the Reactotron enhancer first seems to solve the issue.  I'm not sure it was always like this?

I probably broke something but this used to work.  =)   I've documented this now in the new version.

In any case, just wanted to say thank you to both of you again.

[2016-08-23 21:29] #131 closed

[2016-08-23 21:31] skellock commented on #129
Getting ready to prep a 1.0 launch here, and I probably murdered your PR.  Rebasing won't really make sense at this point as it's entirely a new code base.

You're welcome to do another PR, by all means though!  Just know that i pulled the rug out from underneath you.  =)

Shortly (next week?) I'm going to look into SSR and I'll give you the proper credit when I make any changes.

Thanks for putti

[2016-08-23 21:31] #129 closed

[2016-08-23 21:34] skellock commented on #100
So, I'm on the fence about yellowboxes now entirely.

I've just changed the whole code base and intentionally left out yellow box forwarding.  Turns out, its useful, but it's WAY too chatty.

I'll 100% welcome a plugin to forward these off, but it sounds like I'm on the same page as you... get rid of them!  =)

[2016-08-23 21:34] #100 closed

[2016-08-24 04:46] justingosan opened #162 "How to connect to Reactotron from Android Phone?"
I tried:
[code]

PS: Reactotron works on iPhone and Android emulator

[2016-08-24 05:32] skellock commented on #162
Try forwarding that port with adb.

`adb reverse tcp:9090 tcp:9090`

[2016-08-24 05:44] justingosan commented on #162
Still doesnt seem to work :(

[2016-08-24 05:46] skellock commented on #162
Even with your host left to localhost and that adb port forward?  Thats odd.  Will take a look first thing in the AM.  You will have justice!

[2016-08-24 05:54] skellock commented on #162
Btw, that line should read `Reactotron.configure().connect()`.  The only thing you might need is `configure({host: '192.168.1.200'})` but thats only if you arent tethered. The port is default and enabled isnt a thing anymore. :)

[2016-08-24 06:03] justingosan commented on #162
Ah yes that was a typo on my part here. :)

I tried `Reactotron.configure().connect()` while tethered and with the adb port forward and also with `.configure({host: '192.168.1.200'})` while using adb connect via wifi just now. Both times still wouldn't connect to the desktop  or cli client from the phone :(

Is there any way I can turn on Reactotron debug logs so I can provide more info?

[2016-08-24 06:09] skellock commented on #162
Under `node_modules/reactotron-core-client/dist/index.js` in your project directory, you'll find your the connection code. You can hack around in there.

Is the new Reactotron running?  The old one was on a different port fwiw.

Are you able to connect fine from an android emulator?  Are you on Windows?

[2016-08-24 11:36] jsynowiec opened #163 "Register Reactotron in homebrew cask tap - make it installable using brew cask install"
Register a new Cask for Reactotron in [Homebrew Cask](https://github.com/caskroom/homebrew-cask). This will allow to install Reactotron OS X application using `brew cask install reactotron` command.

[2016-08-24 11:40] skellock commented on #163
Sure!  Thanks for the heads up.

[2016-08-24 11:41] jsynowiec commented on #163
I've created a pull request to homebrew-cask: https://github.com/caskroom/homebrew-cask/pull/24012

[2016-08-24 11:42] skellock commented on #163
Oh Thanks.  Lemme know if theres anything I need to do.

[2016-08-24 11:52] jsynowiec commented on #163
To make it easier to maintain, each future GitHub release should have the `Reactotron.app.zip` archive attached. Right now, the 1.0.1 is cli-only, so I've registered version 1.0.0 in the Cask.

If there is an archive in every release we can use the [appcast](https://github.com/caskroom/homebrew-cask/blob/master/doc/cask_language_reference/stanzas/appcast.md) stanza which provides information on fu

[2016-08-24 12:16] skellock commented on #163
Gotcha, ya I opted for a monorepo with a shared version number.  Which means, some components will be skipping version numbers but its still all semver.

It'd be cool if there were an alternate way to flag updates to cask other than gh releases.

I'll keep this issue open and investigate further.  I've never used cask.  Looks great!

[2016-08-24 12:18] skellock commented on #163
Oh, their shortcat example shows that this is possible!  Neato mosquito.

[2016-08-24 12:33] jsynowiec commented on #163
#164

[2016-08-24 14:56] lucasbento opened #167 "Add button to clear event timeline"

[2016-08-24 15:49] skellock commented on #167
Good point.  Command-K is the keyboard shortcut until then.

[2016-08-24 15:53] michaelryancaputo opened #168 "Storybook components are being intercepted"
Looks like I can't access (at least not directly) my components that are built with react-storybook.

Would be great to be able to identify that the user is using storybook, and be able to use Reactotron in that context.

[2016-08-24 15:53] lucasbento commented on #167
@skellock we should document that somewhere.

[2016-08-24 15:55] skellock commented on #167
Click Help in the bottom left and scroll down to the keyboard section.

![image](https://cloud.githubusercontent.com/assets/68273/17937872/9f5d0ae2-69f1-11e6-9244-bbbfafdc572a.png)

Point taken though.  Help could be better.  :)

[2016-08-24 15:57] skellock commented on #168
Oh?  When you say components, do you mean there's state data in there?

I'd love to help out somehow.  Storybook looks amazing.

[2016-08-24 15:58] lucasbento commented on #167
@skellock oh, cool! :)

[2016-08-24 16:02] skellock commented on #162
Alright, I tested again here, and I'm having problems reproducing.  Here's my setup:

Mac OS X.  Latest Reactotron.app launched.  Android 6.x on a Nexus 7 (2013).  Tethered and on local wifi.  I'm no configuration options (so just the defaults).  And I had to `adb reverse tcp:9090 tcp:9090` to open up.

No problems.

What kind of setup do you have there?

[2016-08-24 16:16] justingosan commented on #162
I'll have my reply up first thing tomorrow morning! Give or take in the
next 12 hours 😄 thanks for all your help so far!

On Thu, Aug 25, 2016, 12:02 AM Steve Kellock <notifications@github.com>
wrote:

[2016-08-24 18:05] michaelryancaputo commented on #168
Yeah, i'm using storybook to build out a component that contains quite a bit of stuff (including redux actions) - (the reason i'm doing this is because we're slowly migrating off of angular).

[2016-08-24 18:13] skellock commented on #168
I'll take a closer look at storyboards.  i thought they were just a hosting container for views.  This is news to me.

So does it have its on separate redux store then?

[2016-08-25 05:05] justingosan commented on #162
Okay so I moved my workspace to my Macbook and everything seems to be working fine (even specifying `host`). Not so sure what's up with my iMac but I will investigate for a fix. Thanks again for your help!

[2016-08-25 05:05] #162 closed

[2016-08-25 06:34] hainuo opened #171 "nonthing found in the app"
![qq20160825-0](https://cloud.githubusercontent.com/assets/421861/17959126/e78c93de-6ad0-11e6-9ea3-785a474485db.png)

i got  view like this pic on  macosx 10.11.6 and  app version 1.0.0

how can i  use it?

[2016-08-25 10:47] jsynowiec commented on #163
@skellock  my PR to homebrew-cask is now closed. I've added the appcast to the Cask. One of the maintainers clarified that it's not used in the way I thought it is right now.

For future version releases (and updates in the relevant Cask) you can open an issue and assign me to it.

[2016-08-25 11:18] Mastergalen opened #172 "Reactotron connection over Wi-Fi"
Does Reactotron support connecting over Wi-Fi?

I've set the Debug server host in Dev Settings to the local IP of my Mac `10.61.180.184:8081`.

I also tried to force Reactotron to manually connect to the local IP:

[code]

However, when I open the CLI or the app I don't receive a **Connection** event after I reload the app.

[2016-08-25 11:28] skellock commented on #172
The configuration should be in the configure function.  Try moving it up from connect.

[2016-08-25 11:31] skellock commented on #171
Woah.  Thats not right!  Haha.

Is there a chance that youre running something else on port 9090?  Maybe the cli version?

I'll put a better error message in rather than this snowstorm effect.

[2016-08-25 11:53] skellock commented on #163
Thanks.  You want me to create that appcast release.atom file?

[2016-08-25 12:03] jsynowiec commented on #163
Its not necessary. This feed is automatically updated by GitHub.

[2016-08-25 12:07] skellock commented on #163
You're awesome.  Thank you.

[2016-08-25 12:07] #163 closed

[2016-08-25 12:15] Mastergalen commented on #172
[code]

Oh, yep - that was it, thanks :)

I guess there is no easy way to fetch the dev server host set in the dev settings debugger menu?

[2016-08-25 12:15] #172 closed

[2016-08-25 12:18] skellock commented on #172
I'm not sure.  I didn't know that was a thing.  I'll look around and see what's up.  Thanks for the suggestion.

[2016-08-25 12:56] avishayil opened #173 "Question about Reactotron and production builds."
Does the logging working only on dev?
I mean, logging code wouldn't run on production and will crash the app, right?
Asking to make sure.

[2016-08-25 13:01] skellock commented on #173
There's nothing stopping you from running in production builds at all.  Just be sure to install with `--save` instead of `--save-dev`.

I don't recommend it for shipping to the App Store or a running web site, however, if you're looking to debug some problems with a production build on a local device, it's totally a legit approach.

[2016-08-25 13:21] avishayil commented on #173
How can I make sure code-wise that Reactotron is running on DEV only? do I have an option to do that without maintaining two repos?
On the previous Reactotron repo, we had an option:
[code]

Is it possible to do it here?

[2016-08-25 13:22] skellock commented on #173
What I do is wrap the entire block in `if (__DEV__)`.

[2016-08-25 13:22] skellock commented on #173
Another option is just wrapping the `connect()` call in `if (__DEV__)`.

[2016-08-25 13:26] avishayil commented on #173
Like this?

[code]

Then, do I need to wrap every `api.addMonitor(Reactotron.apisauce);` call with `if (__DEV__)` ?

[2016-08-25 13:31] skellock commented on #173
Yep, give that a go.

You shouldn't have to wrap all your call sites with this guard though, because all communication from your app back to reactotron  flows through this 1 line of code:

https://github.com/reactotron/reactotron/blob/master/packages/reactotron-core-client/src/index.js#L123

If you never connect, you'll never send anything.  So you can leave your monitors and logging calls in plac

[2016-08-25 13:47] avishayil opened #174 "Android support"
Does reactotron supports debugging on Android?

[2016-08-25 13:50] skellock commented on #174
Yep!  Don't for get to `adb reverse tcp:9090 tcp:9090` to tunnel back to the mothership.

[2016-08-25 14:33] avishayil commented on #174
Thanks!

[2016-08-25 14:34] skellock commented on #174
I'll update the docs to be clear about this step.

[2016-08-25 14:42] avishayil commented on #173
By the way - theoretically - why don't you recommend doing it with app-store build? Doesn't it gives you the ability to debug devices without running special build on them?

[2016-08-25 14:45] skellock commented on #173
1. It uses websockets.  Which will keep the draining the battery.
2. It's a privacy violation.  If you stored some social tokens in state, we could grab them.
3. A security violation as it opens up a backchannel to control the app.  Haha.

Reactotron is a debugging tool.  At least, that's how I recommend you use it!  =)

[2016-08-25 14:47] avishayil commented on #173
Thanks for the clarifications!

[2016-08-25 14:52] FireQQTW commented on #174
I use Genymotion(Version: 2.7.2) run emulator(Samsung Galaxy S6),  and run `reverse tcp:9090 tcp:9090`, but still can't connect :(

Any other suggest? Thx.

[2016-08-25 14:54] skellock commented on #174
Is Reactotron running?  Are you on a Mac?  Does your S6 image run Android 5.x+?

[2016-08-25 15:04] FireQQTW commented on #174
Sorry, I did not provide enough information.
Yes, I try to open cmd and APP, but still can't connect.

OS: OS X
Android version: 6.0

[2016-08-25 15:08] lukesneeringer commented on #173
I am still pretty confused about this question. If you are installing Reactotron with `--save-dev`, then the `import` statements should all fail on production, yes?

[2016-08-25 15:09] skellock commented on #174
How are you connecting to Reactotron?

`Reactotron.configure().connect()` should be fine.

Also, check your emulator config in Genymotion.  Are you in NAT mode?

![image](https://cloud.githubusercontent.com/assets/68273/17974425/074aa7aa-6ab4-11e6-8691-3f5738a75d88.png)

No firewalls running on your computer or shenanigans like that?

Another option is to try `Reactotron.configure({ host: '10.0.3.

[2016-08-25 15:12] skellock commented on #173
@lukesneeringer Correct.

[2016-08-25 15:13] skellock commented on #173
@lukesneeringer Which is good point... one would need to switch on the `import` and likely upgrade them to `require` statements.   Gets ugly fast. =)

[2016-08-25 15:13] lukesneeringer commented on #173
So, what is the correct approach (using React.js)? The documentation just uses `--save-dev` and then an `import` statement, which is clearly not what I want. (I will send a PR to update the docs once I figure out the correct solution.)

[2016-08-25 15:16] lukesneeringer commented on #173
And wrap every use of the thing, or else write your own dummy object to absorb it.

[2016-08-25 15:29] FireQQTW commented on #174
I try this project demo [(link)](https://github.com/reactotron/reactotron/blob/master/packages/demo-react-native/App/Config/ReactotronConfig.js), or `Reactotron.configure().connect()`,
My mdoe is NAT, and try to added `host: '10.0.3.2'`, but still the same.

I need close `http://localhost:8081/debugger-ui`?  or disable live reload and hot reloading?

[2016-08-25 15:31] skellock commented on #173
My advice... don't do it.  Stick with `---save-dev` and debug from debug mode.

But, only you know what's best for your project!

If you want to do it anyway, use `--save`, switch to `require` from `import`, wrap some `if (__DEV__)` in a few places and you're go to go.

There is a use-case for what you're asking for sure.  I just wouldn't trust myself to do it.  :)

[2016-08-25 15:43] skellock commented on #174
Hot reloading is fine.

![image](https://cloud.githubusercontent.com/assets/68273/17975713/c1334a42-6ab8-11e6-9bae-e1498f786081.png)

But it does look like Remote JS Debugging hijacks the websocket communication channel!

Can you confirm by turning that off?

![image](https://cloud.githubusercontent.com/assets/68273/17975821/2d6c91aa-6ab9-11e6-9174-1133e97c4fa1.png)

[2016-08-25 16:10] FireQQTW commented on #174
Fix!!!

I stop "Debug JS Remotely", and it's work!!!

Thanks!!!!! :)

[2016-08-25 16:13] skellock commented on #174
Added these notes to the README.  Thank you @FireQQTW and @avishayil for filing these issues!

[2016-08-25 16:13] #174 closed

[2016-08-25 16:16] skellock commented on #174
Oh good!  Thanks @zalmoxisus .  Man you're on top of *everything*!

[2016-08-25 17:52] lukesneeringer commented on #173
Huh?

I just read over the docs again. I see nothing about a debug mode. The words are never used in the base readme file or the React.js quick start. Everything talks about importing reactotron in a file imported by your base `app.js` (or equivalent) file.

All I want to do is try out reactotron in a way that does not involve making my code break when it is not there. I see no documented way to d

[2016-08-25 17:57] skellock commented on #173
I'll put together some better docs to clear things up.  👍

[2016-08-25 17:57] lukesneeringer commented on #173
To be clear (since maybe I was not), I do not want to run Reactotron in production. At all. I want to run it in development only, in React.js, and for the life of me I cannot figure out how to do that.

The instuctions in [React.js quick start][1] _will completely break the application_ in production, as it will try to import a module that is not present.

I have never used this tool before; I stu

[2016-08-25 18:17] skellock commented on #173
You're absolutely right Luke!  Totally missed that.

I used to be fine (previously to 1.0) with `--save`, but didn't quite sit right with me.  I'll switch up the docs.

Appreciate the honest & direct feedback!

[2016-08-25 21:19] vjpr commented on #48
@skellock I have the same issue with `socket.io-client` and `ramda` with npm@2.

E.g.

[code]

[2016-08-25 23:30] skellock commented on #48
i think with npm 2, the nested dependencies are quite found properly.  :(

I'd love to support npm 2, but I'm afraid I can't quite crack the cadury secret.

I'll make a note about the npm 3 requirement for now.  Sorry!

[2016-08-26 03:53] hainuo commented on #171
i  run it well  when i  compile the app from sourcecode.
now  i use the version compiled for source code
thank for your help, but  i  don't know which app or someelse thinings use the port 9090  becasue i like the port 80 for my local project of php

[2016-08-26 04:15] skellock commented on #171
Is your file system formatted with case-sensitivity turned on by chance?

[2016-08-26 05:46] hainuo commented on #171
@skellock   yes, it is!

[2016-08-26 09:43] vjpr commented on #48
The package spec is broken. The fix is simple. Add `ramda` and `socket.io-client` to `package.json`.

Relying on a transitive dependency is a bad idea - this transitive dependency may disappear and break your package. E.g. what happens if `socket.io` doesn't depend on `socket.io-client` anymore.

[2016-08-26 11:18] skellock commented on #48
Thank you!  I'll patch this up!  Just travelling at the moment.

[2016-08-26 12:30] skellock commented on #171
https://github.com/reactotron/reactotron/pull/170 has the fix incoming.  Sorry about that.

[2016-08-26 12:31] #171 closed

[2016-08-26 17:57] pgom opened #178 "Issues with Reactotron application"
I'm having trouble working the application. While I can connect with my application with Reactotron in terminal, on the App nothing happens. Is there any extra configuration needed?

[2016-08-26 18:01] pgom commented on #178
I was too fast opening this issue. Found the answer to my problem [here.](https://github.com/reactotron/reactotron/blob/master/docs/troubleshooting.md#turn-off-remote-js-debugging)

[2016-08-26 18:01] #178 closed

[2016-08-26 23:43] skellock commented on #178
Good stuff. Always appreciate people reporting issues.

[2016-08-27 03:45] #48 closed

[2016-08-27 03:51] skellock commented on #173
Follow up in #181.  Please reopen if this doesn't meet your expectations.

Thanks again.

[2016-08-27 03:51] #173 closed

[2016-08-27 08:11] hainuo commented on #171
thanks

[2016-08-27 16:16] skellock opened #184 "Update our cask to 1.1"
Hey @jsynowiec, you asked https://github.com/reactotron/reactotron/issues/163 in here to notify on update.

If you just want to show me this one time how it's done, I could probably handle it going forward?  <3

Binary is: https://github.com/reactotron/reactotron/releases/download/v1.1.0/Reactotron.app.zip

[2016-08-27 17:03] jsynowiec opened #185 "Wrong version number in the about window"
The 1.1.0 release of OS X application shows wrong version number in the about window.

<img width="396" alt="reactotron-1 1 0-about" src="https://cloud.githubusercontent.com/assets/1029142/18028857/bbb774b8-6c88-11e6-899f-901f4bf1fbda.png">

https://github.com/reactotron/reactotron/releases/download/v1.1.0/Reactotron.app.zip
MD5 (Reactotron.app.zip) = e067f431657dd2fca700cfce9d818a11

[2016-08-27 17:06] skellock commented on #185
Crap.  Did I bump bump the version after the build?

[2016-08-27 17:17] jsynowiec commented on #185
Don't know if this helps but checksums for 1.0 and 1.1 archives are different ;) I've just rechecked and binary form 1.1 release has '1.0.0' in both, package.json and Info.plis files.

[2016-08-27 17:19] jsynowiec commented on #184
@skellock I have a PR ready but waiting for #185 before pushing it.

Updating is easy. You just have to change the version number, update checksums and confirm, that everything installs/uninstalls correctly. It's not a big deal so I can keep that Cask up-to-date if you want. Just ping when planning a release.

[2016-08-27 17:49] skellock commented on #185
Fixes #184 and #185.

Oops.  😊

`https://github.com/reactotron/reactotron/releases/download/v1.1.1/Reactotron.app.zip`

[2016-08-27 17:56] #185 closed

[2016-08-27 17:57] jsynowiec commented on #184
PR with 1.1.1 update caskroom/homebrew-cask/pull/24085

[2016-08-27 19:18] jsynowiec commented on #184
Merged

[2016-08-27 19:20] #184 closed

[2016-08-27 21:10] skellock opened #186 "Loosen up Peer Dependency on React-Native"
I'd like to go with `*`, but unfortunately the error tracking plugin requires 0.31+.  So I'll cut this over from `^0.31.0` to `>=0.31.0` as to not cause warnings on projects where are using `~0.32` of React Native.

[2016-08-29 01:45] hainuo opened #189 "i got warn when i use the lastest version of react-native which is 0.32.0"
npm WARN reactotron-react-native@1.1.0 requires a peer of react-native@^0.31.0 but none was installed.

[2016-08-29 01:50] skellock commented on #189
Sorry mate.  All fixed up with `reactotron-react-native 1.1.2`.

[2016-08-29 01:50] #189 closed

[2016-08-29 01:53] hainuo commented on #189
so fast!

[2016-08-29 01:59] skellock commented on #189
Haha, your issue came while I was in the middle of fixing.  Your timing was perfect, the speed was an illusion!  😆

[2016-08-30 14:58] #186 closed

[2016-08-30 17:00] jonstuebe opened #191 "Reflux instead of Redux"
Hey, are you planning on supporting other flux models? I like redux but don't use it at my work and would love to still be able to use reactotron.

[2016-08-30 18:30] skellock commented on #191
Yup, this is very possible.  It does, however, involve writing a plugin that speaks to Flux and provides the information to Reactotron.

[2016-08-30 23:39] jonstuebe commented on #191
I would love this. When I have some time I'm going to start working on it.

[2016-08-31 09:24] JeandeCampredon commented on #26
Hi @skellock,

Sounds like an amazing idea, I would love to be able to give a shot at writing a plugin but the links above are dead.
Any updates ?

thanks ;)

[2016-08-31 10:06] skellock commented on #26
Updated.  They were pointing to the `next` branch which was pre-release.  Now they are pointing to `master`.

Let me know if you have any questions or see any problems.

[2016-08-31 12:48] JeandeCampredon commented on #26
ok thanks ;)

[2016-08-31 15:51] skellock opened #192 "Bring back Android Simulator Auto-Detect"
@jhen0409 submitted an awesome clever patch to the old Reactotron to support Android emulators.  Let's bring that back!  Cuz it was crazy cool!

This will go into probably before this line right here:

https://github.com/reactotron/reactotron/blob/master/packages/reactotron-react-native/src/index.js#L53

https://github.com/reactotron/reactotron/pull/59

[2016-08-31 15:58] ruskid opened #193 "Multiple clients on reloading the app"
Every time i reload the app on android device I see +1 client connected to reactotron.

Also `yield put(Actions.requestFacebookTokenCancelled())` are not shown in reacotron console.

 v1.1.2

[2016-08-31 16:11] skellock commented on #193
re: connection: Yes, that will establish a new connection.  I have a feeling you don't want that.  Can you give me a sense of what you'd expect?

re: saga:  Oh?  That's not right.  Does it that PUT actually ever complete successfully?  If it does, it should absolutely log.

[2016-08-31 17:03] ruskid commented on #193
Hm.. Maybe on reload I expect to disconnect from the last connection and establish the new one, maintaining total 1 clients online. Every time I reload I see 2,3,4,5+ clients online. this is just weird.

Regarding the PUT, it worked before the update. If we take LoginSaga as an example, I see LOGIN_REQUEST on console, but neither LOGIN_FAILURE, LOGIN_SUCCESS are shown.

[2016-08-31 17:10] skellock commented on #193
Agreed.  I'll have to try to reproduce the lingering connections.  That's not right at all.

I'll have a closer look at what you're saying for the Sagas too.  That too is not right.

Double bug day!

[2016-08-31 17:11] skellock commented on #193
Sorry, one more thing... this was in the CLI right?

[2016-08-31 17:18] ruskid commented on #193
Yes, it's CLI

[2016-08-31 18:56] zalmoxisus commented on #193
Keeping reactotron's enhancer the first in the `compose` (before the `applyMiddleware`) should help, otherwise the store object is different there and is not aware of middlewares.

[2016-08-31 20:05] skellock commented on #193
Great point @zalmoxisus .  It should go first into the enhancer list.  (or at least before sagamiddleware).

I wonder if this is because of something strange I'm doing in my enhancer.  I'll take another look shortly.  I'll admit, the middleware/enhancer chaining stuff bends my brain.

[2016-09-01 12:07] skellock opened #195 "Support Windows and Linux"
Starting to get some folks asking for it.

[2016-09-01 12:13] ruskid opened #196 "Apisauce logging url with GET params"
Using CLI v1.1.2

`api.get('/followers', { username: username })`

The log in CLI appears as **http:host/followers** when **http:host/followers/username=Bob** expected

[2016-09-01 12:35] skellock commented on #196
Ahh... Axios uses a separate object called `params` to hold those query string variables.

Looks like we'll need to append them ourselves here:

https://github.com/reactotron/reactotron/blob/master/packages/reactotron-apisauce/src/index.js#L5

[2016-09-02 16:39] zalmoxisus commented on #174
Should work on `react-native@0.32.0`: https://github.com/facebook/react-native/issues/9523#issuecomment-244413771

[2016-09-02 16:41] skellock commented on #174
I feel like I owe you several beers @zalmoxisus .

[2016-09-05 06:28] Fandekasp opened #197 "Reactotron CLI empty on linux"
Using reactotron-cli@1.1.2 and reactotron-react-native@1.1.2  on Arch Linux.

![screenshot-2016-09-05_15-19-19](https://cloud.githubusercontent.com/assets/260983/18238963/ca1710fe-737c-11e6-964d-43f030f111f2.png)

[code]

Any idea how to debug/fix this issue ? Thank you for your support

[2016-09-05 20:55] skellock commented on #197
Are you running an emulator?  Did you `adb reverse TCP:9090 TCP:9090` so your emulator can forward 127.0.0.1 to your host machine when this CLI is running?

[2016-09-05 21:39] Thorbenandresen commented on #167
Is there a Reactotron.clear() statement by any chance or something else I could put in the ComponentDidMount of my root component to clear upon reload?

[2016-09-06 01:17] Fandekasp commented on #197
This did the trick! Looking back at the documentation, I can see it was added to the troubleshooting section, sorry for missing it.

Thank you for your help
Cordially

[2016-09-06 01:17] #197 closed

[2016-09-07 02:36] rmevans9 commented on #195
I just tested building this on a windows machine and had 0 issues. I have yet to test if a React app can connect to it (a project for tomorrow probably...) but is there a specific issue that you know of that prevents this from working on Windows?

[2016-09-07 02:41] skellock commented on #195
Wow, really?  I fired up my Windows box last weekend and had a lot of problems with dependencies.  I never quite figured them all out in the end.

There are some build scripts I use to link dependencies together in various repos.  Those are shell scripts at the moment.  I'd like to upgrade those to JS files using ShellJS.

Are you using the new linux shell extension on Windows?

[2016-09-07 11:09] rmevans9 commented on #195
I guess I slightly misrepresented - During npm install I did run into an error about node-gyp but I just tried to build anyway since all the other packages seemed to have installed and it built without issue and ran. I am currently trying to build it on a different windows box and hope I have the same success.

I was not using the new linux shell extension, just plain ol commandline and npm.

Assu

[2016-09-07 12:00] rmevans9 commented on #195
After messing with it for a while since the site I am testing is served up over https I set the Reactotron client to use secure but the app wouldn't allow the connection. I then took off secure and Chrome complained about insecure content with secure content - once I allowed that.... IT CONNECTED! Going to setup the redux plugin now and see if I can't get at my state.

[2016-09-07 12:01] skellock commented on #195
The CLI works fine.

I got passed the node-gyp issues (missing CL.exe) by installing the visual c++ runtime from Visual Studio 2015 and adding more things to the path.

I got to the point where there was no build errors, but just got a empty app once launching.

I feel like we're close!

I really appreciate you jumping in here.  I switched to the Mac in 2006, so I'm not very familiar with dev tool

[2016-09-07 12:02] rmevans9 commented on #195
I wonder why you are seeing an empty app? I have never seen an empty app even with ignoring the node-gyp issues and just building.

[2016-09-07 12:05] skellock commented on #195
I'm not sure.  I'll have another look today.

Try setting `secure: true` in your configure line when you setup Reactotron.  This will use `wss` instead of `ws`.

[2016-09-07 12:08] rmevans9 commented on #195
yeah, I did that but it refused to connect to the socket io server running in the app over wss for some reason. I have to move back on to some work so I just gave up the battle for now since I found the work around of not connecting over the secure websocket channel.

On a side note - Redux actions are being reported! Woo!

[2016-09-07 12:10] rmevans9 commented on #195
also... once this is up and running a few items I have noted that will need to be updated:

- Key Binding pictures are very mac specific.
- Dispatch an action keybinding needs to change (the command button on windows is the windows key. Windows Key + D == show desktop...)

[2016-09-07 12:24] rmevans9 commented on #195
Not sure if this is a windows thing or maybe even an issue within the app I am testing with... but in some situations my web app gets "stuck" when I have Reactotron connected up. I have found that it has to do with the redux store enhancer being in. I am going to dig into this more later to see where the issue lies and if it is a windows issue or a global issue.

[2016-09-07 12:34] rmevans9 commented on #195
Disregard my last issue - this is not specific to windows I would image. In our app it looks like an action is dispatched with a payload of a react component and that sent the Reactotron React Store Enhancer into a spinning cycle when it tried to send the action over socket io to the app. This likely needs a fix but is not related to this ticket. I will investigate and possibly open a PR to resolv

[2016-09-07 12:50] skellock commented on #195
Thanks for all this exploring!  I'll get those keybinding over to control for windows.

[2016-09-07 12:54] rmevans9 commented on #195
Not a problem - I have loved using Reactotron on my React Native apps and really want to get this going at my day job which uses windows machines. I really want to see this happen for Windows.

Also a quick fix for my unrelated issue was to use the except option to ignore that action type.

[2016-09-07 13:40] skellock commented on #195
![hellowindows](https://cloud.githubusercontent.com/assets/68273/18313908/d69653ae-74de-11e6-8c22-548dc3ba8417.png)

My problems were related to build-time issues.  If I just installed the reactotron dependencies from npm, all is well.

So a few issues I can straighten out, but ya... we should be good to go with Windows!

Thanks again.

[2016-09-08 12:48] mustafakosker opened #198 "Making Api Responses Selectable"
The response returned from the api is not selectable, it'd be nice if we can select and copy the complete request.

[2016-09-08 13:29] skellock commented on #198
Heyo!

You mean the API response?   I like it!

What specifically would you want to copy to the clipboard?   Just the payload?   In JSON format?

[2016-09-08 14:03] mustafakosker commented on #198
Exactly! Payload in json format would be nice. It'd be better if we could copy both request and response. I can work on this as well.

[2016-09-08 21:22] jeveloper opened #199 "window is not defined"
Hi there

My app is still fairly barebones

Any hints?

ReferenceError: window is not defined
    at Object.<anonymous> (/node_modules/reactotron-react-js/dist/index.js:95:14)
    at Module._compile (module.js:541:32)
    at Module.require._compile (node_modules/gluestick/node_modules/webpack-isomorphic-tools/babel-transpiled-modules/index.js:414:28)
    at Module._extensions..js (module.js:550:10

[2016-09-08 21:30] skellock commented on #199
I see you're using isomorphic... is perhaps this getting loaded on the server, where `window` isn't a thing?

Does this help https://github.com/reactotron/reactotron/issues/129#issuecomment-240091289?

[2016-09-09 12:41] jeveloper commented on #199
You're right
i use gluestick with my reactapp and this is happening on node side during transpiling

i moved this code to componentDidMount
this way window is present, but nothing seems to happen except an error is gone.

i'm not using barebones reactapp from fb , mine is with reducers, actions and component structure, curious where the right place for reactron to live in :)

thanks

FYI , brew ca

[2016-09-09 22:14] skellock commented on #199
Hmm.  With isomorphic, does the redux store live client side or server side?

Also, 1.1.1 is the latest release of the app.  I'm opted to use a shared version number (via lernajs) on all the components for this monorepo.

[2016-09-10 21:18] jeveloper commented on #199
It should be on client, but i think the process of babel transpiling is messing this up
ill close the ticket :)

thanks !

[2016-09-10 21:18] #199 closed

[2016-09-11 02:44] rmevans9 commented on #195
@skellock sorry for the delay in my response. I am very pleased to hear that!

[2016-09-11 19:59] aight8 opened #200 "Universal apps (SSR)"
To debugging server side rendering this would be GREAT and a real benefit to all other dev toolbar solutions.

[2016-09-11 22:46] skellock commented on #200
I'd like to, but I've got zero experience with it.  Could use some help or a friendly nudge in the right direction.  😄

[2016-09-12 16:13] jeveloper opened #204 "RN - nothing in event timeline"
Running RN 28
node: 6.x
reactron is totally empty
npm start is running

followed instructions

xcode + plugged in device

thanks

[2016-09-12 16:18] skellock commented on #204
By default the Reactotron client tries to connect to localhost on port 9090.   When you're running mobile, this isn't where your Reactotron app lives; it's back on your computer.

So you'll need to specify the IP address of your computer in your `ReactotronConfig.js` file; maybe something like `connect({ host: '10.0.1.1xx' })`.

[2016-09-12 16:22] jeveloper commented on #204
Ohh thank you ill try that out

[2016-09-12 16:22] #204 closed

[2016-09-12 16:23] skellock commented on #204
Android has a solution for this type of problem with reverse tcp tunnelling, but afaik, we're out of luck on iOS.

[2016-09-12 17:00] jeveloper commented on #204
@skellock quick question

changed index.ios.js line 1

Reactotron
  .configure() // we can use plugins here -- more on this later
  .connect({ host: '192.168.2.10', port: 8081 }) // let's connect!

npm start - using 8081 for RN
does it need to run in debug mode? RN that is
running from xcode in debug mode

not seeing anything in reactron

[2016-09-12 17:29] skellock commented on #204
I'm sorry, it's configure that accepts the host, not connect.  Blah.  Sorry about that.  I used to `connect` pre-1.0.  Then I introduced `configure()` and `connect()` as 2 separate steps.

I'll see what it would take to have `connect()` take these params too.

[2016-09-12 17:57] jeveloper commented on #204
thanks that worked :)

[2016-09-14 12:00] mmzoo commented on #63
This would help me debug why the reactotron CLI works fine, but nothing shows up in the Reactotron macOS app.

[2016-09-14 13:38] skellock commented on #63
Agreed.

I can try to help though!

Usually it has to do with `host`.  Are you using Android?  Emulator or device?

[2016-09-14 13:52] mmzoo commented on #63
ios Simulator. I suppose it's running here:

[code]
but default for reactotron is `localhost:8080`, isn't it? I'm confused as to where to configure Reactotron.app.

[2016-09-14 14:04] skellock commented on #63
Reactotron.app listens on port 9090 on interface 0.0.0.0.  The defaults for the sim should work.  (that is: `Reactotron.configure().connect()`).

The app currently has no configuration, though.  The client just connects to localhost from the iOS sim, and all *should* be well.

What does your `ReactotronConfig.js` look like (or whenever you set that up)?

[2016-09-15 08:20] mmzoo commented on #63
Thank you for pointing me into the right direction and for your time. Turns out our app is many months behind when it comes to how reactotron is required and configured. I didn't pay attention to that fact because the CLI was working out of the box even with the current setup.

Either way, debugging is a good thing to have ;)

[2016-09-15 14:28] skellock commented on #63
Do you get an error with the store?  Or does nothing redux seem to work?

[2016-09-16 07:18] waqas19921 commented on #195
When building in windows it reports error in downloading electron as the parsing line
`DEFAULT_OPTS.version = stdout.split('electron-prebuilt@')[1].replace(/\s/g, '')`
not returns the exact electron version only so the link generated will be inaccessible and the build stops.

[2016-09-17 10:32] ywongweb commented on #193
Had a same problem with actions triggered by saga's `yield put()` doesn't show up in Reactotron. Manage to fix it by placing `reactotronEnhancer` *after* `applyMiddleware(sagaMiddleware)`.

[code]

[2016-09-17 12:35] skellock commented on #193
Thanks @ywongweb.  I'll have to have a closer look at the source code for Redux to see exactly what's going on here.  I feel like there's two ways to do it and they're both wrong. Ha!   Probably something silly I'm doing in my code.

[2016-09-17 12:35] #192 closed

[2016-09-17 12:38] skellock commented on #195
@waqas19921 I noticed this yesterday too.  I think there's something up with the electron packager trying to download the 1.4.0 electron runtime.  I hardcoded it to use 1.3.2 in the package.json `package` script for now.  I'll try again tomorrow to see what's up.

[2016-09-17 12:41] ruskid commented on #193
As a temp fix, thanks @ywongweb

[2016-09-17 12:42] skellock commented on #193
Problem now, is you might not be able to dispatch from Reactotron.  🐔 🍳

[2016-09-18 08:17] zalmoxisus commented on #193
@skellock, you're not doing anything silly. It's a known problem for Redux store enhancers that is fixed by https://github.com/reactjs/redux/pull/1702, and will be shipped in `v4`, but unfortunately it's not expected soon, unless [someone can help Dan with that](https://twitter.com/dan_abramov/status/770571815152414724).

There are two possible workarounds: to have 2 enhancers (one at the beginnin

[2016-09-18 12:05] skellock commented on #193
I like your `updateStore` concession @zalmoxisus. There is a bunch of great discussions in that issue. I guess it isn't a high priority then.

You're right, the store enhancer is kind of overkill for what I'm doing right now.  Perhaps adding similar workarounds like you did, switching to middleware, plus a few deprecation warnings is the way out for now.

Thank you again Mihail for your guidance.

[2016-09-19 00:21] mschipperheyn opened #209 "Most actions 'undefined'"
When I use reactotron, many actions are classified as undefined (they aren't). I use immutable.js. Sometimes I dispatch actions that don't mutate state, as a kind of logging mechanism. But many of the actions that contain relevant data and do mutate state, don't show up either. In fact, most of them.
<img width="502" alt="screen shot 2016-09-18 at 21 21 21" src="https://cloud.githubusercontent.com

[2016-09-19 02:21] skellock commented on #209
Immutable.js isn't supported just yet.  PRs accepted!  :)

[2016-09-19 02:25] skellock commented on #195
@waqas19921 https://github.com/reactotron/reactotron/pull/210 should fix the packager issue.

[2016-09-19 05:36] waqas19921 commented on #195
Hope this will fix the problem.

[2016-09-19 05:36] waqas19921 commented on #195
@skellock can you release gui package for windows now.

[2016-09-19 12:51] skellock commented on #195
I've yet to crack the mystery of proper binary signing on Windows.  I should have more time this week.  I can put up one without signing though, just not sure how much people will (or should) trust me.

[2016-09-19 14:18] mmzoo commented on #63
The store works just fine in general, I can see it in the Chrome JS console. The reactotron setup is virtually identical to the one you use in the ignite app.

I suspect it has to do with outdated packages, such as using react `0.31.0` and react `15.2.1`.

[2016-09-20 18:37] jgkim opened #211 "`Maximum call stack size exceeded` on iOS 10"
When `reactotron` is used with [`react-native-router-flux`](https://github.com/aksonov/react-native-router-flux) connected to `redux` on iOS 10, it raises the `Maximum call stack size exceeded` error, calling `_hasBinary` of `socket.io` a lot.

It can be reproduced with the newly created [`ignite`](https://github.com/infinitered/ignite) project by changing `NavigationRouter.js` as the below.

[cod

[2016-09-20 23:52] skellock commented on #211
Totally struggling with that right now too.  I've temporarily turned of logging those commands until I get to the bottom of this.  💩

[2016-09-21 04:21] jgkim commented on #211
It seems like this issue is somewhat related to socketio/socket.io#1665. If an object with cyclic object values is serialized, then the `Maximum call stack size exceeded` error is no longer raised but you can see some warnings saying `This synthetic event is reused for performance reasons.`.

[2016-09-24 04:24] patrickhousley opened #212 "TS2 import module not found"
I am getting the below errors when importing the reactotron-react-native module.

Config:

[code]

Errors:

[code]

package.json:

[code]

[2016-09-24 18:52] skellock commented on #212
Thats strange.  I see them listed as devDependencies.  Does typescript not parse devDependencies the same way?

I've never used it so I'm a bit in the dark here.

[2016-09-24 19:39] patrickhousley commented on #212
I moved all the dev dependencies to dependencies and it did not make a difference.

[2016-09-24 22:30] patrickhousley commented on #212
I may have found some information to help in this issue.
https://github.com/Microsoft/TypeScript/issues/11106

[2016-09-29 20:36] fud opened #213 "Host configuration react native"
I can't see where I can configure a host param when working on a device (iOS) on react native. It try's to connect to ws://localhost:9090

For the package server I've set, RCTWebSocketExecutor.m to point to my dev server,

[code]

I hoped to do something similar with reactotron.

[2016-09-29 23:02] skellock commented on #213
Have a look at [react-native-config](https://github.com/luggit/react-native-config).  It is very good for this kind of thing.  Works great on ye olde Android.  Supports multiple .env files.  Configurable with environmental vars when building or Xcode schemes when developing.

[2016-09-29 23:02] #213 closed

[2016-09-29 23:18] fud commented on #213
Thanks @skellock that might be exactly what I need. And cheers for the quick response.

[2016-10-02 07:30] Lakston commented on #58
That would be awesome, I'm not sure I have the skills to help with this but if you break it down into small tasks I might be able to help

[2016-10-03 11:19] rlski commented on #58
Just as @Lakston I'd love to help in my range of skills. I'm using MobX with RN quite a lot and having a way to log the state and actions like Reactotron does would be awesome. Just let us know !

[2016-10-10 00:14] ssomnoremac opened #214 "Can't get working with redux + RN-router-flux"
Trying to get reactotron working with RN / react-native-router-flux / Redux
but only the router events are logged correctly -- all other actions are logged as undefined. Here is what I came up with to set up the app - which works fine.

[code]

[2016-10-10 05:39] varungupta85 opened #215 "Clarity on tips on running in production"
This is not an issue in the package but a question regarding one of the tips for running in production. [Here](https://github.com/reactotron/reactotron/blob/master/docs/tips.md#running-in-production) it says that we shouldn't running Reactotron in production by wrapping Reactotron activities within `__DEV__` and then it follows to say `This means you'll need to be careful to use require() instead

[2016-10-12 13:44] skellock commented on #215
Correct.

You'll have to use a require instead of an import.

Check out this example:

`https://github.com/reactotron/reactotron/blob/master/packages/demo-react-js/src/ReactotronConfig.js`

The other option is to use `--save` and just do an `if` statement around your `connect` in your `ReactotronConfig.js`.

The extra files really aren't a big deal for React Native.   You just want to make sure yo

[2016-10-12 13:44] #215 closed

[2016-10-12 13:47] skellock commented on #214
Heyo.

Hmm... To be honest I haven't seen that way of create a store before.

Usually what you do is `compose` your enhancers and then call `createStore()` with the result.

https://github.com/reactotron/reactotron/blob/master/packages/demo-react-js/src/Redux/Store.js#L42

Lemme know if that's what you're thinking.  Apologies if I'm misunderstanding what you're asking.

[2016-10-18 15:38] JuoCode opened #216 "reactotron-react-native: Use in real device"
How to let it work when use real device?

[2016-10-19 02:38] slipy-spy commented on #216
+1

[2016-10-19 10:52] rmevans9 commented on #216
I haven't tested this but you can specify a host and port in the configure call. So you would do something like:

`Reactotron.configure({ host: '<IP TO YOUR MACHINE>', port: <PORT IF OTHER THEN DEFAULT>}).connect()`

Of course you have to ensure that your machine lets traffic in on the port.

[2016-10-20 03:59] JuoCode commented on #216
It's work, thanks.

[2016-10-20 03:59] #216 closed

[2016-10-24 07:52] amna-geniteam commented on #168
Need urgent help:
I have made react components using react-storybook. When i try to import some component in another project, it says:
ERROR in ./~/device-explorer-ui-kit/src/web/components/Graph/Slider/GraphSlider.js
Module parse failed: D:\BRD\node_modules\mozilla-neo\node_modules\eslint-loader\index.js!D:\BRD\node_modules\device-explorer-ui-kit\src\web\compone
nts\Graph\Slider\GraphSlider.js Un

[2016-10-24 07:55] amna-geniteam commented on #168
@arunoda if you can please help.

[2016-10-24 11:22] arunoda commented on #168
@amna-geniteam I'm pretty confused here.
Usually we use storybook inside a React library or a project.
So, you could publish that library into NPM, Git or anywhere you like and use in your projects.
Storybook is only a dev tool.

[2016-10-27 14:42] GantMan opened #219 "Unable to log object functions"
[code]

won't show b

[2016-10-27 16:08] skellock commented on #219
The function doesn't serialize.

What would you like it to show?

[2016-10-28 09:12] maluramichael opened #220 "Clear timeline on reload"
An option which can be enabled by the user that clears the timeline on reload. This is pretty react-native specific. I don't know how react in web handles things like reload. Maybe when the browser reloads the timeline could be cleared.

[2016-10-28 09:14] skellock commented on #220
@GantMan has asked for this as well.  Lemme get that feature in.  You're right though, it'll be a signal we'll have to send from the client to the server.  No problem to implement though.

[2016-10-28 09:15] maluramichael commented on #62
Is it possible that there are to many entries in the event timeline after a while?

[2016-10-28 09:17] maluramichael commented on #220
Ow did not found another issue about this.

[2016-10-28 09:19] skellock commented on #220
Thats because I talked to him in person.  Haha.

[2016-10-28 09:21] skellock commented on #220
What would you think if we made it "on-demand" and "opt-in".   So, for example, in your startup code, you'd write something like:

[code]

[2016-10-28 09:28] maluramichael commented on #220
I'am fine with this 🏆

[2016-10-28 09:36] skellock commented on #62
Possibly.

I do have (what I believe to be) a 100 message cap though.

https://github.com/reactotron/reactotron/blob/master/packages/reactotron-core-server/src/commands.js#L49

[2016-11-01 10:34] skellock commented on #220
Will roll out today or tomorrow.

[2016-11-01 10:36] #220 closed

[2016-11-01 10:39] skellock commented on #198
Copy & paste is now in as of `1.2`.  Cheers!

[2016-11-01 10:39] #198 closed

[2016-11-01 10:40] skellock commented on #196
This is now in place in `1.2`.  Cheers.

[2016-11-01 10:40] #196 closed

[2016-11-02 01:10] fgaleano opened #226 "Redux: createReactotronStoreEnhancer is not a function"
I'm trying to setup up Reactotron with Redux following the instructions.

My code looks like this:

[code]

Immediately after adding this I get the follow error:

First I realized I was using an older version of `react-native` so I upgraded to the latest. But still no cookie.

What am I missing?

[2016-11-02 01:19] skellock commented on #226
Sorry, you caught me mid-release.  The docs are talking about the version I'm about to ship.

Change your `import { createReactotronStoreEnhancer } from 'reactotron-redux'` into `import createReactotronStoreEnhancer from 'reactotron-redux'`

[2016-11-02 01:53] fgaleano commented on #226
@skellock Yep, that immediately worked. :) Timing, huh?

That said, all Redux ACTION event are coming back `undefined`. I'm not using immutable.js or anything like that. Just 2 middlewares, thunk and logger, which are applied last, as per instructions.

Any quick thoughts?

Thanks!

[2016-11-02 01:58] skellock commented on #226
And now `1.3.0` has been released.  Your code will still work though, but the new syntax (and snapshot feature) is now live.

So that's strange ya.  They shouldn't be `undefined`.  Hmm... I've only seen that with `Immutable.js` and you're not using that eh?

So you see the events then in the Reactotron App, they're just empty?

What happens if you try fetching the keys or values (Command + F) from

[2016-11-02 02:27] fgaleano commented on #226
@skellock Manually searching for key/values does work. So it is picking up Redux's state. I'll continue to debug and see if I find anything. This is the first time I use Reactotron. Do let me know if you have any other thoughts. Thank you!

[2016-11-02 02:30] skellock commented on #226
The actions you're dispatching.  They have a `type` right?

Is your code somewhere on github where I could take a look?  I'm very curious why this isn't working.

Also, `1.3.0` is available if you feel like upgrading... the version you have is so last hour.

[2016-11-02 03:49] skellock commented on #220
Shipping now with 1.3.  Thx again.

[2016-11-02 13:55] skellock opened #228 "Store enhancer order issues"
Ok, so ya, there's an issue.

If you put the `reactotron-redux` store enhancer before the middleware, you cannot dispatch actions.

If you put the `reactotron-redux` store enhancer last, you cannot hear `redux-saga` dispatch other actions.

Some more background here in #131 .  Basically it's how redux's store enhancer system works.

Possible options:

* split `reactotron-redux` into 2 parts:  one

[2016-11-02 14:37] skellock opened #229 "Command line champions"
I'm considering leaving the terminal app behind for the next version (2.x).

I just wanted to get a sense on how people felt about this.

I hate to see it go because this is how Reactotron started.  Also there's a hip factor to the command line.

My problem here is:  In almost every way, the desktop app is a better experience.  It allows you to drill down, toggle things like a tree, copy large thi

[2016-11-02 15:39] GantMan commented on #229
leave the terminal behind.  As cool as it was, you blew past it.  It's `/gif a whole new world`

![awnw](https://68.media.tumblr.com/19e053c1491fcf0b275b9bd39d175f0c/tumblr_neemq1BxD01r9mp00o1_1280.gif)

[2016-11-03 04:11] skellock commented on #228
Alrighty.  Got a fix inbound.  #230.  Will stick the landing tomorrow.  I don't want to ship with tired eyes.  👀

[2016-11-03 04:11] skellock commented on #131
Fix incoming in #230 tomorrow.

[2016-11-03 05:01] skellock commented on #228
1.3.1 is now out which contains this fix.

[2016-11-03 05:01] #228 closed

[2016-11-03 12:16] rmevans9 commented on #229
I vote let it go away. Especially if you get a binary out there for the app on windows and linux.

[2016-11-06 20:39] zibs commented on #219
I think displaying anything would be useful - even if it is just logging the presence of the function. I know I've been bit a few times tron-logging objects with functions that don't show up in the logs, causing me to go on a hunt as to why/where they are. I know in Xcode it comes out as `key: [Function]` or what have you. So often when I can't find the function, I'll log the object in Xcode and I

[2016-11-06 20:56] skellock commented on #219
Make sense. I think I've seen that before too ya (now that you mention it).  I think `booleans` are jumping the wire either.

Here's the command that sends it across the wire:

https://github.com/reactotron/reactotron/blob/master/packages/reactotron-core-client/src/index.js#L127

I wonder if perhaps `socket.io` supports serialization options?  I'll follow up on that.

[2016-11-08 14:57] rmevans9 opened #234 "Redux Saga Monitor"
I am working on starting a React Native app that will rely heavily on Redux Saga and would love to see Reactotron be a bit more involved with testing when it comes to Sagas. I am playing around with the Redux SagaMonitor that is included in the examples folder of the repo and am considering how this might be able to be incorporated into Reactotron. Currently I have it printing to the console which

[2016-11-08 16:45] skellock commented on #234
Absolutely.

I've already started on this too.  There's a few issues with surfacing the information out of redux-saga though.

I plan on asking @yelouafi once I'm able to formulate the right question to ask.

My problem specifically is knowing that a generator is finished.

I know when an effect starts, and there's a `id` that i can use to track back a nested effect.

But if a generator gets kicke

[2016-11-08 17:18] yelouafi commented on #234
@skellock
When a saga is forked (or spawned) the method `monitor#effectResolved(id, result)` is invoked with a `Task` as the result. [In the monitor example](https://github.com/yelouafi/redux-saga/blob/master/examples/sagaMonitor/index.js#L77-L87) you can see how the end of the task is tracked (via chaining a handler to the `done` promise and reeinvoking resolveEffect again). Similarly there is an

[2016-11-08 17:41] skellock commented on #234
OOOoooooooooh.

^ The sound of a 1,000 dim lightbulbs flickering in my head right now.

So, the `effortResolved` for the fork is when I start track this.  Ok.  I totally missed this.

I was under the impression that the `parentId` was the key to reassembling the call.   It was just the timing of that fork'd resolving that threw me for a loop.

Will try tonight.

You're awesome.

[2016-11-08 18:01] rmevans9 commented on #234
@skellock if you need any help on any front bringing this to life for Reactotron let me know!

[2016-11-08 18:23] yelouafi commented on #234
If it could be any help, here is how the monitor prints the visual effect tree.

The monitor example store all incoming effects in an `effectsById` map. Effects are added on `effectTriggered` calls, and updated on `effectResolved/Rejected/Cancelled` calls

The effect tree is constructed on demand in the `logEffectTree` function (which is called to print the visual effect tree on the console)

- [w

[2016-11-08 19:57] rmevans9 commented on #234
@skellock do you have your work thus far up somewhere on this? I would be interested in kicking it around if so.

[2016-11-09 06:55] skellock commented on #234
Alrighty.  Getting closer now.  I understand how to track sagas now.  Or at least the ones that are cleanly separated by forks (like `takeLatest` and `takeEvery`). Baby steps no doubt.

I just pushed this into the `redux-saga` branch https://github.com/reactotron/reactotron/commit/b2ef0e4ed42e8e1e6bf6037a298eaef341566178

This line of code was the key to putting this together... https://github.com

[2016-11-09 11:54] rmevans9 commented on #234
Looking good @skellock. I think for the super short term dumping that JSON object to the timeline is helpful as it does give you access to the information. May I ask what triggers it to dump to the timeline? I am going to take a look at the code this morning.

As far as the longer term - I would love to see it as its own tab so the display of it could have more freedom. I could see some sort of vi

[2016-11-09 18:32] skellock commented on #234
A cleaned up version.  Going to wrap things up & ship that today or tomorrow once I do a bit more testing.

![image](https://cloud.githubusercontent.com/assets/68273/20149647/39e2652e-a680-11e6-9a94-c15fda9346a8.png)

@rmevans9 The [SagaMonitor](https://github.com/reactotron/reactotron/blob/redux-saga/packages/reactotron-redux-saga/src/saga-monitor.js) harvests and ships the data, and the [SagaTas

[2016-11-09 18:38] rmevans9 commented on #234
That looks really good! I can't wait to play with it.

[2016-11-09 18:39] yelouafi commented on #234
@skellock nice work!.

As a small improv. you can replace the `CALL`,`PUT`, ... with a short descriptive message like `call(myfn)`, `put(MY_ACTION)`. Below is a function I used in my currently unfinished saga visualizer

[code]

[2016-11-09 19:15] skellock commented on #234
Damn, that's fantastic!  Function names are now showing up.  Didn't even know that was possible.

Thank you!

[2016-11-09 20:08] GantMan commented on #234
this is epic

[2016-11-10 01:33] oldo commented on #167
@Thorbenandresen see issue #220
Apparently this has been implemented in version 1.3

[2016-11-10 01:35] oldo commented on #220
@skellock do you mean 1.1.3? Current version appears to be 1.1.4

[2016-11-10 01:53] skellock commented on #167
Oops.  Yes.  Good to go.

[2016-11-10 01:53] #167 closed

[2016-11-10 06:16] #234 closed

[2016-11-10 06:17] #191 closed

[2016-11-10 09:25] shodanuk opened #237 "Unexpected token"
Hey,

I'm getting a "SyntaxError: Unexpected token" error when trying to import reactotron-react-js in my app.

[code]

We're using version ^1.3.0 of Reactotron with React-Boilerplate and my guess is that Webpack isn't playing nicely with reactotron-react-js but being a relatively recent convert to React & Webpack, I have no idea how to debug this.

Any help would be appreciated :)

[2016-11-10 11:31] skellock commented on #237
Oh dear.  I wonder if I missed a babel transform on my end? My goal was to convert it to ES5.

Is this just with a fresh app on react-boilerplate?

[2016-11-10 11:34] shodanuk commented on #237
It's not a fresh app, no. I'll set up a clean install of react-boilerplate and test it now

[2016-11-10 11:40] shodanuk commented on #237
Ah, it works fine with a vanilla install of React-Boilerplate. Sorry, it must be some anomaly with our Webpack config

[2016-11-10 12:04] skellock commented on #237
Oh, no worries.  Does it say which line of code is bombing?  Or is it highlightling the word `import`?

It sounds like it isnt't loading the right babel tranforms, indeed.

[2016-11-10 12:10] rmevans9 opened #238 "Reactotron Redux Saga"
Playing with the new plugin this morning and I love it. One oddity that I ran into which may not be a huge deal is forking a saga from a saga that was kicked off via a takeEvery. For example:

[code]

In Reactotron it shows two sagas run (which is correct) but testSaga2 is named "undefined". In addition the saga that shows in Reactotron for testSaga actually shows the call to testSaga2 in its tree

[2016-11-10 12:12] Anahkiasen opened #239 "All actions are wrapped?"
I'm testing out the redux integration, but for some reason all my actions appear in Reactotron as wrapped in another action which makes it very hard to see at a glance what is happening:

![screen shot 2016-11-10 at 13 11 39](https://cloud.githubusercontent.com/assets/1321596/20176265/4407b38e-a747-11e6-8894-812c6b52734a.png)

Is this an option I have to configure or?

[2016-11-10 12:16] rmevans9 commented on #239
Can you show us how you are calling your actions? I ask this because I am not seeing this in my use of Reactotron.
<img width="651" alt="screen shot 2016-11-10 at 7 16 05 am" src="https://cloud.githubusercontent.com/assets/14151327/20176392/92fb5040-a715-11e6-9f9e-d6fe03839821.png">

[2016-11-10 12:19] Anahkiasen commented on #239
From what I've found on the internet it seems to be caused by the [react router middleware](https://github.com/acdlite/redux-router/issues/87). Solution suggested is usually to put logging middlewares before react router's but in this case I'm not sure what to change since Reactotron's only involvment is at the `createStore` level

[2016-11-10 12:23] Anahkiasen commented on #239
Nevermind I've found what it is, it was redux devtool's composer that was adding its own wrapping to the actions:

[code]

If I switch it to just `compose(middlewares)` here it works

[2016-11-10 12:23] #239 closed

[2016-11-10 12:23] rmevans9 commented on #239
Good stuff!

[2016-11-10 12:27] shodanuk commented on #237
Ok, I think  I've worked it out. I compared our Webpack config (webpack.base.babel.js) against the current one in their repo and noticed they have an extra entry, "browser" in the "mainFields" array of the "resolve" prop. I'm not sure what I does but when I added it to our config. Reactotron sprang into life!

[2016-11-10 12:27] #237 closed

[2016-11-10 12:45] skellock commented on #237
Good to know.  Thanks for the closing the loop!

[2016-11-10 13:06] skellock commented on #239
Ahh.  You raise a good point here though.

I'm doing the same thing (in spirit) as @zalmoxisus.  We're both trying to make sure we're in front & behind the call to create store so we can maintain references.

All `Reactotron.createStore` does is inject the [right wrappers](https://github.com/reactotron/reactotron/blob/master/packages/reactotron-redux/src/create-store.js#L11) at the right time.

A

[2016-11-10 13:18] skellock commented on #238
Gotcha.

Hmmm....

So Reactotron **should** be chopping things up at a "task" level.  In your example we have 2 tasks, so I would expect to see 2 messages.

But I do share your surprise with the 2nd message having the 1st task's info.

So tasks can be nested then... I had not thought of that at all.

I wonder if it makes sense to have an option to show/hide forked children?  Hmm I'm not sure.  Wha

[2016-11-10 13:21] skellock commented on #55
Planning on deprecating CLI shortly.

[2016-11-10 13:21] #55 closed

[2016-11-10 13:23] skellock commented on #11
You can do this now by clicking on the results when searching for keys.  It's not a "tree", but it kinda accomplishes the same thing.

[2016-11-10 13:23] #11 closed

[2016-11-10 13:26] rmevans9 commented on #238
I personally like that the 2nd saga allows me to see what the forked saga did. This way you can see the entire effect tree. If you have to bounce between multiple messages to follow the saga that could become a headache when you have a bunch of sagas running at a time. Hiding it behind a message is fine by me as long as I can drill down into it and see the info still.

Having the forked task (test

[2016-11-10 13:31] zalmoxisus commented on #239
It's not directed related to the extension itself, but to [`redux-devtools-instrument`](https://github.com/zalmoxisus/redux-devtools-instrument), which is lifting the store and should be always the last in the compose. `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__` takes care of it, but lately it's wrapped by Reactotron's `createStore`, which receives not the original store.

@skellock's snippet sh

[2016-11-10 13:55] skellock opened #240 "Trim the floating point precision you monster"
![image](https://cloud.githubusercontent.com/assets/68273/20179288/6a2f32e0-a723-11e6-8eef-9a88071fa5a8.png)

[2016-11-10 13:59] skellock opened #241 "Filtering Messages"
@rmevans9, @kevinvangelder, and @derekgreenberg have all asked for message filtering support.

The use case would be:

* I'd like to just watch Saga messages or API messages.
* a UI element where i could pick a subset of all message types to show/hide

I think this is an awesome addition.

[2016-11-10 14:04] skellock opened #242 "Immutable JS?"
Although I don't personally use ImmutableJS, I know people do.

Rather than start a campaign of terror to get them to switch to `seamless-immutable`, figure out what it would take to support it.

@andrewvy [championed this a while ago](https://github.com/reactotron/reactotron/pull/21) but I ninja-refactored the code before it was committed.

There have been a few people asking about it.

I feel li

[2016-11-10 14:06] skellock opened #243 "redux-observable"
This seems doable, but I've never used it before.  @xgrommx was asking about this on ye old Twitter.

https://redux-observable.js.org/

![image](https://cloud.githubusercontent.com/assets/68273/20179580/d526c882-a724-11e6-9ad2-9ede1b6ecfdd.png)

[2016-11-10 22:10] tsemerad opened #244 "reactotron-react-native and reactotron-react-js v1.3.1 and v1.4.0 aren't published on npm"
I'm in the process of setting up Reactotron on my project for the first time, and I'm trying to follow the redux setup instructions and it keeps telling me that `createStore is not a function`. It appears the issue is that I'm using `reactotron-redux@1.4.0`, but `reactotron-react-native@1.3.0` (which doesn't yet have the `createStore` function). Is it just an oversight that the latest versions of

[2016-11-10 22:25] rmevans9 commented on #244
the createStore function gets put onto the Reactotron object when you setup the redux plugin. I would suspect that your Reactotron setup is not occurring prior to you setting up your redux store.

[2016-11-10 22:28] rmevans9 commented on #241
Do you have a preference of UI component for this? I might work on this over the weekend if you don't get to it first.

[2016-11-10 22:30] rmevans9 commented on #219
@skellock any luck finding something on socket.io side? I think the next best option is manually sanitizing the objects as they get passed through but I feel like depending on how large the objects are that could be fairly heavy processing each message.

[2016-11-10 22:44] tsemerad commented on #244
Ok, thanks! I didn't realize that. I'll look into that.

[2016-11-10 22:44] rmevans9 commented on #219
Another option might be to do a JSON.stringify on the object before shipping it to Socket IO. Something like this might work:

[code]

This outputs a stringified json object that replaces functions with "[Function]". Then you would be able to just parse the JSON on the other end.

[2016-11-10 23:07] skellock commented on #219
I haven't looked yet, but ya i was considering serializing before socket.io.  sending a plain ol string through is totally fine for socket io.

I was actually toying with the idea of removing Socket.IO altogether.  There's been lots of issues I've had to work around.  And it's the biggest obstacle to me crossing the language barrier too.

[2016-11-10 23:14] rmevans9 commented on #219
What would you use instead to pipe data out of the app?

[2016-11-11 00:01] skellock commented on #219
straight up web sockets.  socket.io is a small protocol on top of that.  which i use zero of the features.  i basically need:   web socket + a string.   That will allow me to play around in Elm and other places.  haha.

[2016-11-11 00:07] skellock commented on #244
Ya, like @rmevans9 said.  That `ReactotronConfig.js` file you create?  That needs all the plugins registered there via `use()` calls.  Once you `use()` a plugin, those functions like `createStore()` and others become available on the `Reactotron` object.

:)

As far as versions are concerned...  sorry ya, it's confusing.. here's the scoop:

I'm using [Lerna](https://github.com/lerna/lerna) to mana

[2016-11-11 00:23] skellock commented on #241
Maybe something like this?

![image](https://cloud.githubusercontent.com/assets/68273/20199720/97f308a8-a77a-11e6-9b4c-b2ce97b3312f.png)

Something simple for now?

We could copy & paste a dialog to get this up & running real quick.

* UI state code would live in the [UiStore.js](https://github.com/reactotron/reactotron/blob/master/packages/reactotron-app/App/Stores/UiStore.js).
* Filtering would

[2016-11-11 00:24] skellock commented on #241
Definately won't get to it until next weekend at the earliest.  We're shipping a client project next week and need to turn on the jets.  :)

[2016-11-11 00:26] rmevans9 commented on #219
That could simplify things. how long do you think it would take to do that?

[2016-11-11 00:42] skellock commented on #219
Not long.  A couple of hours.  The main problem is backwards compatibility.  I was putting this off until version 2, but it would be possible to retrofit two different socket client/servers side-by-side.  Just not ideal.

In the case of a "JSON-preprocessor" though, we could come up with something that in the [send function of the reactotron-client](https://github.com/reactotron/reactotron/blob/ma

[2016-11-11 00:48] skellock commented on #244
Sorry, i did a crap job of explaining that.

The version numbers bump only if code inside changes or a dependency changes.  In the case of `reactotron-react-native` and `reactotron-js`, neither had code changes, nor did the 1 library they rely on `reactotron-core-client`.

Hence no bump.

You have the latest version, but unfortunately that's not clear.  I kinda picked the wrong option when version

[2016-11-11 00:48] #244 closed

[2016-11-11 01:24] rmevans9 commented on #241
Got it started. I am not sure how you are wanting the checkboxes styles so I might get it most of the way there and let you do any design touches you want to it. I will probably be able to get the checkboxes in places and the filtering working tomorrow.

https://github.com/rmevans9/reactotron/tree/FilterTimeline

[2016-11-11 01:57] skellock commented on #241
Sweet dude!  For the checkboxes just use something like this:

https://material.io/icons/#ic_check_box
https://material.io/icons/#ic_check_box_outline_blank

Wrap 'em in an Icon [maybe like this](https://github.com/reactotron/reactotron/blob/master/packages/reactotron-app/App/Foundation/TimelineHeader.js#L5) and use it [like this](https://github.com/reactotron/reactotron/blob/master/packages/react

[2016-11-11 12:33] rmevans9 commented on #241
And filtering is working.

Outstanding items:

- Make the dialog look....good
- Put all of the command types in the dialog
- Cleanup some of the code
- Have someone that actually knows MobX review my use of MobX (first time use...woo!)

[2016-11-11 12:42] rmevans9 commented on #241
PR opened to show the changes thus far and track future changes as this gets completed. #245

[2016-11-11 17:17] tsemerad commented on #244
Turns out my bug was fixed by using `require` rather than `import`. I was attempting to conditionally require and use `Reactotron.createStore` when in dev, but it kept giving me the error. Switching to `import` fixed it. I guess I'll just have it as a regular dependency and just not use it in prod.

[2016-11-11 17:18] tsemerad commented on #244
Thanks for the explanation :)

[2016-11-11 21:20] jbenesch opened #249 "How do I display the action name in either OS X app or cli?"
In theOS X app, I see: `ACTION    PERFORM_ACTION`, when I click on the row, my action (FSA) is buried in an action object

[code]

And in the terminal, I only see: `PERFORM_ACTION  105ms`.

While I love both the interfaces, not being able to actually see the action name/info makes it cumbersome to try and use. This also has the unfortunate side effect of when I want to trigger an action from the U

[2016-11-11 22:20] skellock commented on #249
Currently there's a collision between redux dev tools and reactotron.

[Here's a short term workaround](https://github.com/reactotron/reactotron/issues/239#issuecomment-259685156).

[2016-11-11 22:37] jbenesch commented on #249
I swore I looked through the issues first... sigh. Thanks! sorry for having to repeat yourself!

[2016-11-11 22:37] #249 closed

[2016-11-11 22:40] skellock commented on #249
No worries.  I'll figure out an easier way to make them work together.

[2016-11-12 17:57] rmevans9 commented on #240
Are you thinking leave a few decimals or just straight round them off? I feel like when talking in milliseconds you could just lose the decimal completely.

[2016-11-12 18:05] skellock commented on #240
ya im totally cool with dropping precision entirely.

[2016-11-12 18:06] #240 closed

[2016-11-13 01:26] #241 closed

[2016-11-13 01:32] skellock commented on #226
Version 1.4 [significantly simplifies](https://github.com/reactotron/reactotron/blob/master/docs/plugin-redux.md#configuring) Redux integration.

I'd be curious to see if you have the same issue still.  Feel free to reopen.

Thanks for taking the time to file a report!

[2016-11-13 01:32] #226 closed

[2016-11-13 01:35] skellock commented on #212
Apparently this issue is [resolve on their end](https://github.com/Microsoft/TypeScript/pull/11889)?

I don't use Typescript yet myself, so I can't verify.  Feel free to re-open if you think there's something I can do to be less Typescript hostile.

[2016-11-13 01:35] #212 closed

[2016-11-13 01:37] skellock commented on #209
Closing in favour of tracking this feature in #242 .

Appreciate you filing a report here.

[2016-11-13 01:37] #209 closed

[2016-11-13 14:28] messense opened #255 "redux-saga: Possible Unhandled Promise Rejection"
[code]

seems like in the [code here](https://github.com/reactotron/reactotron/blob/0d7b2780ccb9243354a05b089cbef9b437803a23/packages/reactotron-redux-saga/src/saga-monitor.js#L65), `parentEffectInfo` could be `undefined` somehow.

[2016-11-13 14:56] messense commented on #199
This causes some problem when running test cases using serverless Node environment in react-native. Had to do some dirty hack to workaround it:

[code]

[2016-11-13 15:22] skellock commented on #199
Interesting, perhaps [this is causing a problem](https://github.com/reactotron/reactotron/blob/master/packages/reactotron-react-native/src/index.js#L28)?

[2016-11-13 15:39] skellock commented on #255
Gotcha.  I wonder, are you running sagaMiddleware.run() multiple times?  Im trying to think how this would happen.

I should be able to prevent this issue though.

Thanks!

[2016-11-14 01:37] messense commented on #255
@skellock Nope, I only called `sagaMiddleware.run()` once.

[code]

[2016-11-14 01:42] messense commented on #199
@skellock Yes. But `window` is `undefined` too when running tests in Nodejs using mocha.

`window` is not defined makes it hard to write testable code.

[2016-11-14 13:02] skellock commented on #199
Gotcha.  It sounds as if Reactotron shouldn't be loaded during these tests.  That kinda makes sense.  So perhaps ensuring `__DEV__` is set to false during your tests would be an answer?

Lemme know if there's anything you think I can/should do to help.

[2016-11-14 13:04] skellock commented on #255
Thanks.  Looks fine.

Must be something in the rootSaga tripping it up.

Do you use `takeLatest`/`takeEvery` to subscribe to your messages?  Are you using custom channels by any chance?

[2016-11-14 13:05] messense commented on #255
I am using `fork` and `takeLatest/takeEvery`, no custom channels used.

[2016-11-14 13:10] skellock commented on #255
Does your `rootSaga` look like this?

[code]

[2016-11-14 13:17] messense commented on #255
No. It looks like:

[code]

[2016-11-14 13:22] skellock commented on #255
Roger.  Thank you very much.  I think I have everything I need here.  🎉    Will ship a new version tonight.

[2016-11-14 20:12] juddey commented on #229
I started with the terminal app and found that quite difficult to use so in the end just used the adb console to get what I want..

Then the graphical app came out and....

![image](https://cloud.githubusercontent.com/assets/7445602/20280960/737b9f52-ab13-11e6-8f1b-9cabbcc9db93.png)

I haven't left home without it.

[2016-11-15 12:19] rmevans9 opened #259 "Redux Saga 0.13.0 + Reactotron Saga Monitor = SADNESS"
It looks like 0.13.0 added a new call on the saga monitor that isn't being passed in by the reactotron saga monitor. We end up with:

`sagaMonitor.actionDispatched is not a function`

from Redux Sagas release notes:

A quick fix might be to just pass a noop function until it is figured out if this new monitor function could help

[2016-11-15 12:34] rmevans9 opened #261 "Reactotron Saga Monitor - Saga Names"
In certain setups sagas end up with the description of 'undefined'. I will work on providing a simple example of the setup I am seeing but I wanted to get this out here so I don't forget about it.

Possible thoughts:

- Beef up how the description is generated to try and find a name.
- Provide a way for a saga to declare its own name (this might be something that is hard since the monitor is just

[2016-11-15 12:38] rmevans9 commented on #261
Side note: In my production app when it gets into the task resolved method effectInfo actually has a description that I would like to see output to reactotron as it is the name of method that is running the saga.

[2016-11-15 15:30] skellock commented on #259
Cheers.  I wonder if they'd be open to making each function of the sagaMonitor optional?

Lemme get your PR patched in & released.

Thanks.

[2016-11-15 15:30] #259 closed

[2016-11-15 15:57] skellock commented on #195
Turns out we don't need to sign windows & linux builds.  I'll include all 3 platforms going forward, but leave Windows & Linux in "beta" stage until I get proper shiny installers.

[2016-11-15 15:57] #195 closed

[2016-11-15 16:04] skellock commented on #255
Shipping now in 1.5.  Thank you.

[2016-11-15 16:04] #255 closed

[2016-11-15 16:08] skellock commented on #261
I've seen what you're talking about.

I think I've seen it happen when a forked saga ends and it's parent is not an `ITERATOR` (ie takeLatest).

Adding some [extra `else` conditions](https://github.com/reactotron/reactotron/blob/master/packages/reactotron-redux-saga/src/saga-monitor.js#L76) might be the answer:

[2016-11-15 16:11] skellock commented on #261
Is this the same as #238 ?  I think it is.

I'm not sure if we can provide a name.  I think that's entirely `redux-saga`.  I noticed there was a `label` property attached to their `effectInfo` object, but that's used for the `RACE` effect to determine winners/losers.

[2016-11-15 18:39] rmevans9 commented on #261
#238 was created because of the multiple sagas but I guess I did mention the undefined saga names as well. I would be open to closing this in favor of that one if you want.

I am wondering if we can just use the description off the `effectInfo` if we end up undefined right before we ship the data to reactotron. In my tests description usually has something close enough that it would tell me what s

[2016-11-15 19:33] tsemerad commented on #255
I just upgraded to reactotron-redux-saga@1.5.1, and I'm still seeing this issue. My root saga is:

[code]

I am using a couple custom event channels. Would that cause the problem?

[2016-11-15 21:05] skellock commented on #255
💩 !

Can you post a stack trace for me?  It'll help me track this down a bit better.

[2016-11-16 01:00] tsemerad opened #263 "Windows binary not included in 1.5.0 release"
I just noticed that a Windows binary wasn't included in the 1.5.0 release. I'm assuming that was just a mistake?

[2016-11-16 01:36] skellock commented on #263
Sorry about that.  I've yet to automate that part.

Appreciate the heads up!

👍

[2016-11-16 01:36] #263 closed

[2016-11-16 01:38] skellock commented on #261
That's cool, let's keep going on this one.

So ya, I think you're probably right.  I'll give that a go and see what it looks like.

[2016-11-16 02:45] aarongifford commented on #263
Thanks for the fix :)

[2016-11-16 03:09] skellock commented on #263
No prob.  I just probably put an issue together with what I think is left for windows.  It's basically packaging... so an icon & an NSIS installer.  Wow, now that I say it out loud, there's not a lot left.

[2016-11-16 09:58] yinxin630 commented on #211
Same issue as this. So how to solve it?

[2016-11-16 10:11] skellock commented on #211
It's because a circular reference is being passed.  For example, you're trying to log something that's a react component (for example the `props` in `componentWillReceiveProps`) or react native router flux state.

The short term fix is to not log that (I know, not a fix).

The long term fix is for me to write (or find) something that detects circular references and uncircularfy them.

[2016-11-16 12:29] rmevans9 commented on #261
I did a quick change to just default out to `effectInfo.description` on the app I am running into the undefined saga names and it is working really well so far. If you like I can throw a PR to do that out there.

[2016-11-16 13:36] skellock commented on #261
Sounds good.

I'm about to push a build out today, so that'd be cool if we can include that as well.

Just a heads up, I pushed some stuff into master but since it's not released yet, it'll trip up the demos.

At the root of the project if you run `yarn run bootstrap`.  Until i get to a script that will clean up everything for devs, i recommend

[code]

Ugh, that was painful even to type.

[2016-11-16 17:26] nhducit opened #266 "Display correct error message when developer haven't config redux store yet"
Reproduce:
1.
https://github.com/reactotron/reactotron/blob/master/docs/plugin-redux.md
[code]
2. ignore this step
[code]

Reactotron dislay error messgage:

[code]

[2016-11-16 17:52] tsemerad commented on #255
On further investigation, it looks like my issue is #211. Sorry for the confusion.

[code]

[2016-11-16 18:03] skellock commented on #255
No, problem. I have a fix for that in master now.  Cutting another build today.

[2016-11-16 18:11] skellock commented on #266
Do you mean, that's what you see when you try to dispatch a message from within Reactotron and you've not connected to the store?

[2016-11-16 19:37] rmevans9 commented on #261
Sorry, I haven't had a chance to get this fix out there. I will work on this tonight or tomorrow morning and have a PR out for it.

[2016-11-16 20:46] skellock commented on #261
No rush man.  I'll take a quick look at it tonight when I push the next version.

[2016-11-17 01:24] nhducit commented on #266
@skellock yup, I used `createStore` function from `react-redux`

[2016-11-17 01:49] skellock commented on #266
Sure I'll put a friendly message in when you try to talk to the redux store and it's not available.

Good suggestion.

[2016-11-17 02:19] rmevans9 commented on #261
#267 opened

[2016-11-17 11:03] reicheltp opened #268 "Full text filtering"
It would be awesome to filter / search the logs shown in the reactotron cli.

I have something in my mind like: pressing `L` for log and enter a regex and press enter to apply it.

If this is a welcome feature, I will start preparing a PR.

[2016-11-17 15:53] skellock commented on #268
Heyo.

I'm considering dropping support (#229) for the CLI.  There's a lot more we can do with desktop app.  If we can keep the keystroke friendly maybe we can convince more people to use it.

Having said that, I'd absolutely welcome that PR, but I'd hate for you to invest some time into something that might be going away.

I know some folks are diehard CLI'ers.  Do you consider yourself one?  Wou

[2016-11-17 20:54] reicheltp commented on #268
I am absolutely fan of GUI application. Unfortunately, I am working on Windows 😜. I have tried to compile the gui application but got some really strange errors with babel and rollup, so the cli was the easiest way to get reactotron run.

If you can help me get over this, I am the first one switching to GUI and help to improve it! 😄

---
<details>
  <summary>The babel rollup error:</summary>
[code

[2016-11-18 01:14] skellock commented on #268
I've seen that before too.  I found the build tools super difficult for electron on Windows.  I actually end up using Wine on Mac to make the builds for Windows.

Here's the latest versions of the Windows binary:

https://github.com/reactotron/reactotron/releases/download/v1.5.0/Reactotron-win32-x64.zip
https://github.com/reactotron/reactotron/releases/download/v1.5.0/Reactotron-win32-ia32.zip

I'

[2016-11-18 16:07] skellock commented on #261
Cheers.  Shipping in 1.5.2.

[2016-11-18 16:07] #261 closed

[2016-11-18 16:12] skellock commented on #255
@tsemerad now available with circular dependency checking.  Just need to upgrade your `reactotron-*` libraries in your app up to `1.5.2`.  Hope that fixes your issue.

[2016-11-18 19:37] tsemerad commented on #211
@skellock thanks. I upgraded my `reactotron-*` dependencies (like you suggested in #255), but now the app freezes on launch (at about the same point where the "Maximum call stack size exceeded" warnings were popping up on 1.5.1), taking no user input and requiring me to kill it. Unfortunately, there doesn't appear to be any error or warning message this time. I'm still using the Reactotron desktop

[2016-11-18 22:11] tsemerad opened #272 "How to use Reactotron with physical iOS device"
I feel like maybe I'm missing something obvious. I have my React Native iOS app using Reactotron fine when I build to an iOS simulator, but when I build to a device it's not working. I think I need to be port forwarding to port 9090 (like I do when I debug on a physical Android device), but is that possible on a physical iOS device?

I looked through the docs and didn't see any mention of this. If

[2016-11-19 00:13] skellock commented on #272
There isnt port forwarding, but you can use the IP address of your computer.  I'll put together some docs.  I hear that question a lot.

[2016-11-19 00:15] skellock commented on #211
woah.  can you post that as a new issue?  if you can, maybe some relevant code to help track it down too.  thanks!

[2016-11-19 02:31] tsemerad commented on #272
Thanks a lot. I really appreciate it! 👍

[2016-11-20 01:06] rmevans9 opened #273 "Auto-update"
https://github.com/electron/electron/blob/master/docs/api/auto-updater.md

It would require some infrastructure to host the server (unless there is one out there that will host for free since this is an open source project). I think this could be beneficial as I always find myself questioning if I updated the app with new releases and also its a little bit tedious to manually update it.

[2016-11-20 08:02] zalmoxisus commented on #273
You can autoupdate it right from github releases with [`electron-gh-releases`](https://github.com/jenslind/electron-gh-releases). [Here's a n example](https://github.com/zalmoxisus/social-expert/blob/master/src/electron/index.js#L130-L195) of how I implemented it.

[2016-11-20 08:10] skellock commented on #273
@zalmoxisus that looks really straight forward, ty!  ill give it go this week.

[2016-11-21 22:49] maxschmeling opened #274 "ex-navigation integration"
I haven't been able to get state to show up when integrating with `@exponent/ex-navigation`.

This is my store creation:

[code]

Am I doing something wrong?

[2016-11-22 12:34] rmevans9 commented on #274
I am not sure what might be wrong with your code but here is my creation setup and it works:
[code]

[2016-11-22 13:50] skellock commented on #274
Hey, thx for the help @rmevans9 .  I've never used exponent before.  Been meaning to try it out.

So `Reactotron.createStore()` does a little sorcery.  And sometimes that's bad.

It actually does 3 things.  All optional depending on what features you want out of Reactotron.

Lines 1, 2, and 4 are opting into these features:

[code]

Note that this is the *manual* way of doing it.  I looks like @rm

[2016-11-22 13:50] #274 closed

[2016-11-22 13:50] skellock commented on #274
And feel free to open this again if you're not getting the answers you need.

[2016-11-23 14:41] romanlv opened #275 "not possible to copy API call url to the clipboard"
It will be very useful to be able to copy url for API calls, so I can debug it in the postman.
Just making url text selectable should solve the problem.

There is a feature to copy request/response body but not the url.

[2016-11-23 14:48] skellock commented on #275
Nope.  But that's a great suggestion.  Let's get that in.

[2016-11-23 20:39] reicheltp commented on #268
Played around the last week with reactotron app and it's very nice and more handy as the cli.

Nevertheless, there is no search within the log. Thus, let me know when everything's ready for contributing from a Windows machine. 😉

[2016-11-23 20:50] reicheltp opened #276 "Read source-maps to display exceptions more userfriendly"
Currently, if I log an error reactotron just display the plain error object with reference to the error line in source code. Unfortunately, the source is packed and this info is useless for the developer.

![image](https://cloud.githubusercontent.com/assets/4380869/20578209/7313c33c-b1c6-11e6-91de-70717cdc69bf.png)

It would be super awesome if reactotron loads the corresponding source-maps and di

[2016-11-23 20:51] skellock commented on #268
Nice.  Haha.

The data is JSON, so I'm wondering what kind of searching you're after here.  Matches on the message type?  Or are you looking for like a "full-text" search because you're after a piece of text within an action or something?

Cheers!

[2016-11-23 20:54] skellock commented on #276
This case should be supported.  Looks like you're doing React Native Android there.

Checkout https://github.com/reactotron/reactotron/blob/master/docs/plugin-track-global-errors.md

There's a error tracking plugin you'll need to setup in your `ReactotronConfig.js` that should capture this.

What you'll have to do is let that error bubble up unhandled in order for React Native's error handling & s

[2016-11-23 20:57] reicheltp commented on #268
Yes, I am looking for a full text search. This would make the timeline more clear, if one could hide everything, which is not relevant for the current development task one is working on.

[2016-11-23 21:11] skellock commented on #268
Gotcha.  I'd have to keep a pre-JSON'd version of it around in case people want to search text.

Should be doable.

That'd be pretty cool actually.

Type / to regex filter or something?

[2016-11-23 21:18] reicheltp commented on #268
I'm not sure if we actually need a full regex search. If it's no special effort, why not. But I think a simple wildcard `*` should be sufficient enough, for most use cases.

[2016-11-24 16:59] andreiconstantinescu opened #277 "redux-saga channels"
Hey guys :)

I have a small problem when trying to put info on a channel like this `yield put(infoChannel, data)`.

`infoChannel` is a generic `channel` from `redux-saga`.
`data` is just an object.

I was reading the docs of redux-saga and at the end of [this](https://yelouafi.github.io/redux-saga/docs/advanced/Channels.html) page there is an example of `yield put(<channel>, <Object>)` and I tried

[2016-11-24 18:12] skellock commented on #277
I have yet to build in channel support.  The harsh truth is... i don't understand them.  Haha.

I'll take another look at them and build in the support needed.

More curious than anything here... how are you using them?  Do you get good mileage out of them?

[2016-11-25 11:35] RusAlex commented on #199
Seems reactotron not well encapsulated it's logic. It mustn't mutate `window` global object during importing.

Thanks

[2016-11-25 13:12] skellock commented on #199
Agreed.  I do this because of an issue with ReactNative and Socket.IO.  Socket.IO is hardcoded to look for `window.navigator` before it gets included for the first time.  React Native doesn't have that environment, so I have to enforce that.  :(

I'm going to be replacing the Socket.IO layer in Reactotron in 2.0.  There's been too many issues I've had with it.

[2016-11-27 02:32] rmevans9 commented on #277
@skellock can't provide the specific example that I use it for but channels are useful for when communicating with an external source that can have events (like socket.io). I suspect there are a lot more use cases as well. For a quick and dirty example:

You create a eventChannel which you setup your communication with the socket.io server and wire up events to put payloads on the emitter that is

[2016-11-27 02:34] rmevans9 commented on #276
@skellock RE: Call their sourcemap resolve on demand - that is a large part of the code in #278 so we could possibly abstract that logic out a bit and make use of it in more places then just the saga logging.

[2016-11-27 20:04] ricardofbarros opened #279 "React-native socket.io-client require problem"
Currently after a fresh install I get this `Requiring unknown module "socket.io-client/socket.io". I traced it back to this [PR](https://github.com/socketio/socket.io-client/pull/1025)

They changed the path of the minified file. I will be pushing a PR shortly addressing this changes.

[2016-11-27 21:29] skellock commented on #279
Thank you.  I had a lot of issues getting this behaving on both React JS and React Native.  I hadn't realized it was busted.

[2016-11-27 22:33] skellock commented on #199
Good news. Looks like the latest `socket.io` dependency fixed the need to monkeypatch navigator in React Native.

End of an era.

https://github.com/socketio/engine.io-parser/pull/55

[2016-11-28 01:03] skellock commented on #279
Thanks again.  This is now shipping in `1.5.3`.  Cheers man!

[2016-11-28 01:03] #279 closed

[2016-11-28 17:06] jdmunro commented on #242
What do you need to serialise to/from? By default you can serialise to and from string, but you'll lose _some_ typing information if you use special immutable types such as Records, Sets. By default you'll get everything back as Maps and Lists.

Though I've never used it, there's this serialiser which supposedly preserves the extra type information: https://github.com/glenjamin/transit-immutable-j

[2016-11-28 17:26] skellock commented on #242
Maybe there isn't a problem then?  Maybe I'm just asking the wrong question.  Perhaps this is a querying question.

If I can't dot my way through a immutable object like `cart.items.7.price`, how would I traverse their structures to get at that answer?  I'd just have to read into that I guess 😀

[2016-11-28 17:38] jdmunro commented on #242
There's a nice way to access key paths of an immutable object :)

You can do this:

[code]

So in theory you'd just need to convert a string query into an array key path as above. For that bit of functionality, anyway!

[2016-11-28 17:40] jdmunro commented on #242
I don't have much time to contribute to development but I'd be happy to help out with testing any WIP implementations of support for ImmutableJS 👍

[2016-11-28 17:52] chapati23 opened #285 "Reactotron app not connecting (cli works fine)"
I'd like to give a detailed bug report but tbh I have no idea how to debug the desktop app, it's just not connecting.

I'm using the ignite starter kit, this is my ReactotronConfig:

[code]

[2016-11-28 17:58] chapati23 commented on #285
nevermind, app & terminal restart for some reason solved it…

[2016-11-28 17:58] #285 closed

[2016-11-28 18:03] skellock commented on #285
Weird.  Another vote for #63 though.

[2016-11-28 18:04] skellock commented on #242
`getIn` is exactly what I'm looking for.  Thank you!

[2016-11-29 20:12] andreiconstantinescu commented on #277
@skellock sorry for the late response....

I found a workaround, now I'm using just a generic channel and appears to be working well. But still is a bit weird for other channels.

[2016-11-29 20:17] andreiconstantinescu opened #286 "normal yields are printed as unkown"
Hey @skellock :)

I have this usecase:

A function returns a promise: `const getPromise = () => { ... }`

whenever in a `saga` i use `const result = yield getPromise()`, in Reactotron it is printed as `UNKNOWN` and the duration of it. It's annoying to see random `UNKNWON`s in the logs :(.

How can I outcome this? :)

Thanks!

LE: to be more accurate

I have a
[code]

what i want to do is to launch

[2016-11-29 21:03] skellock commented on #286
Hmm...

Looks like it's not able to [detect the effect](https://github.com/reactotron/reactotron/blob/master/packages/reactotron-redux-saga/src/get-effect-name.js#L17) properly.

In your top example:  I'd yield a `call` effect with a promise as opposed to the promise itself.

[code]

In your bottom example, i'd use a `join` effect on the task.

[code]

Having said that, I'm very curious what happe

[2016-11-30 00:05] andreiconstantinescu commented on #286
Awesome! Thanks for the tip with the `join`, worked like a charm, almost flawlessly. The only issue i encountered is that the duration doesn't seem to be right. My approraches were these:

[code]
<img width="545" alt="screen shot 2016-11-29 at 23 58 40" src="https://cloud.githubusercontent.com/assets/2974519/20734284/57b68a2e-b690-11e6-9230-7f5d6882654a.png">

[code]
<img width="539" alt="screen s

[2016-11-30 00:32] skellock commented on #286
I prefer the first one.  :)  It reads well to me.

* kick off 2 independant tasks
* then wait for both to come back before i can continue

The timing for the top one makes sense to me too.  995ms until every task was done.  Task 1 was the slow guy that held everyone up.

The 2nd approach is:

* kick of 2 independant task
* now wait for the first one to come back... how long did i just wait?  634ms

[2016-11-30 05:54] ericvera opened #287 "When I launch the app it is empty"
I tried the steps [for the quick start react js](https://github.com/reactotron/reactotron/blob/master/docs/quick-start-react-js.md) with the create-react-app option and I see nothing. Not even the connect event. `npm start` launches the site in `http://localhost:3000` so I tried changing the `ReactotronConfig.js` file to

    import Reactotron from 'reactotron-react-js';

    Reactotron
      .con

[2016-11-30 06:32] skellock commented on #287
If you delete the `{port :3000}`, it'll use port `9090`.  Which is where the App is listening.

Have you tried that?
There isn't any firewalls in play here?
Nothing else is already listening on that port 9090 is it?
Is this on the Mac?
And it you mentioned that it's just plain `http` right?
Can you verify you're running `1.5.0` of the App (in the Reactotron About menu)?
Can you verify you're runni

[2016-12-01 02:27] ericvera commented on #287
I tried removing the port before and it was not working, but now all of the sudden everything is working. I wonder if I had something else in the code causing other issues. Thanks for the crazy quick response and the help! Looking forward to trying this out.

[2016-12-01 02:27] #287 closed

[2016-12-01 02:30] skellock commented on #287
Sweet!

[2016-12-01 13:15] joncursi opened #289 "[reactotron-react-native] createStore is not a function"
I'm running into this error while setting up Reactotron with Redux per the installation guide.

Redux config:

[code]

Reactotron config:

[code]

Package versions:

[code]

Error:

![screen shot 2016-12-01 at 8 17 02 am](https://cloud.githubusercontent.com/assets/4974609/20795323/98946f02-b79e-11e6-8c85-1bbb1d522a4d.png)

I can't tell what's wrong. Any ideas?

[2016-12-01 13:33] rmevans9 commented on #289
Can you make sure that the ReactotronConfig is getting called before your redux store setup?

[2016-12-01 14:23] joncursi commented on #289
Ah, silly mistake, thank you! I was importing my Reactotron configuration in a custom location rather than on Line 1 as the Readme asks.

[2016-12-01 14:23] #289 closed

[2016-12-01 15:51] rmevans9 commented on #289
No worries. Also note that since in your redux setup you are unconditionally using createStore off Reactotron a production build will actually fail. Make sure to conditionally use the redux provided createStore when not in dev

[2016-12-01 16:01] joncursi commented on #289
👍 thanks for the tip!

[2016-12-01 17:01] joncursi opened #290 "Option to emit console *warnings* with trackGlobalErrors?"
I would like to replace react-native's "Debug JS Remotely" option (Chrome dev tools) entirely with Reactotron. However it seems as though reactotron's `trackGlobalErrors` plugin only emits console _errors_ and ignores console _warnings_, which are always logged to Chrome dev tools.

Is there an option to enable these warnings in addition to errors? Thanks!

[2016-12-01 17:24] skellock commented on #290
Not currently.  I had decided to remove that in 1.0 because it was excessively noisy and there didn't seem to be a way to explicitly target those warnings.  They just show up as errors.

Internally facebook detects these by looking at the first few letters of the error message and seeing if it says `Warning: `.

I guess we could do the same to forward them over?

Hmm, might be able to make this wo

[2016-12-04 17:50] lakhman opened #292 "Enhancement: Show log statement file and type"
Could we show where the log statement was executed from? - Like chrome dev tools - `Filename:LinoNo`.

also, when using `console.tron.log()` could we show the data type?

[code]

These all output `1.23` - it would be great to know which type is returned.

Awesome project, very efficient compared to all other RN debuggers. 👍

[2016-12-04 19:21] skellock commented on #292
Great suggestion.  The only way I know how to do this is to trigger an exception, catch it, and source map it. I wonder if theres another way?  I'll look into this.

[2016-12-05 15:26] THPubs commented on #195
Guys can you please tell me how to compile and run this on Linux?

[2016-12-05 18:02] rmevans9 commented on #195
I believe that you can just call the package command in the reactotron-app folder:

`npm run package` (you could probably use yarn as well.

[2016-12-05 18:09] skellock commented on #195
There are [pre-built binaries](https://github.com/reactotron/reactotron/releases/tag/v1.5.0) you can use if you're just looking to use it.

Sounds like you're trying to hack on it though.

I'd recommend `git clone` then `npm i` to install the root level deps like `lerna`.  Then run `yarn run welcome` to bootstrap your environment.

It's been a challenge to get everything running in a dev environme

[2016-12-06 05:33] raviteja83 opened #293 "unknown named module socket.io-client/socket.io"
socket.io and socket.io-client are both installed but still getting the error with **RN-0.33.1** and **reactotron 0.9.0**

[2016-12-06 10:20] pgom commented on #293
I'm getting the same error.

[2016-12-06 10:35] rmevans9 commented on #293
Reactotron 0.9.0 is fairly old... can you guys update to the latest version and try again?

[2016-12-06 17:16] skellock commented on #293
@rmevans9  is right.  When we went to `1.0.0` we switched up the interface a bit.  You'll want to use `reactotron-react-native`.

There's a [quick start guide](https://github.com/reactotron/reactotron/blob/master/docs/quick-start-react-native.md) available as well as a [demo app](https://github.com/reactotron/reactotron/tree/master/packages/demo-react-native) you can use get get going.

I'll be wr

[2016-12-07 03:13] THPubs commented on #195
@rmevans9 @skellock Ah cool thanks. Sorry I did not see the pre built binaries :smile:

[2016-12-07 12:17] joncursi opened #297 "reactotron-redux: b.__iterate is not a function"
When I plug in Reactotron to my Redux-enabled app via `store = Reactotron.createStore(...)`, I started seeing this error pop up after dispatching several of my app's actions:

![screen shot 2016-12-07 at 7 10 25 am](https://cloud.githubusercontent.com/assets/4974609/20967321/dd43a6d8-bc4c-11e6-8c6b-00d3cc04e432.png)

Only certain payloads seem to cause it. Here are example payloads that don't work

[2016-12-07 12:20] rmevans9 commented on #297
Looks like some of the work to serialize functions to a basic string for display in Reactotron is causing some issues for you. Is there anyway you could find out what the payload is when this error is thrown?

[2016-12-07 12:22] joncursi commented on #297
Thanks for your quick reply - yep, here's an example: an ImmutableJS List as the payload. Here I am running a `console.log()` statement on the payload immediately before the action is dispatched. You can see that it's a List and when the action is dispatched with the List as a payload, attempting to set the List on the global state runs into this error.

<img width="685" alt="screen shot 2016-12-0

[2016-12-07 12:24] rmevans9 commented on #297
ah it might be that ImmutableJS isn't really supported (yet). If I have some time later I will setup a test app with ImmutableJS and see if this is something that is easily overcome.

[2016-12-07 12:27] joncursi commented on #297
Thanks! I noticed that when I dispatch numbers and strings everything works great, but yeah, it seems anything wrapped in ImmutableJS (Lists, Maps, etc.) will cause trouble.

[2016-12-07 12:28] rmevans9 commented on #297
Good to know. I will report back once I have some time to give this a go and see what is going on.

[2016-12-07 12:37] joncursi opened #298 "Ability to show normal console.log() statements in Reactotron?"
This is a feature request for developer convenience.

Is it possible to have Reactotron show `console.log()` statements in the event feed (I'm talking normal `console.log()` statements, without having to first import Reactotron in the file, and then do a special `Reactotron.log()` or `Reactotron.warn()`)? I often want to just quickly log something to a console to figure out what's going on with my

[2016-12-07 12:39] rmevans9 commented on #298
I am not sure we will be able to catch console.log messages without a little bit of leg work from the dev. A quick and dirty way to do it would be to just do:

`console.log = Reactotron.log`

@skellock any thoughts on making it a bit more transparent to the developer?

[2016-12-07 13:03] skellock commented on #298
It's a great request.

Here's my only reservation.

When I created `Reactotron.log()` i made the mistake of not making the API the exact same as `console.log`.

So instead of `console.log(thing, anotherThing, allTheThings)`, [our API](https://github.com/reactotron/reactotron/blob/master/packages/reactotron-core-client/src/plugins/logger.js#L7) is `Reactotron.log(thing, importantFlag)`.

:(

I was

[2016-12-07 13:55] #293 closed

[2016-12-07 13:57] skellock commented on #297
I'd love to have ImmutableJS support.  I don't personally use it (I use `seamless-immutable`), but I think most people do because Facebook recommends it.

I'll close this one in favour of #242.  I appreciate the heads up!

[2016-12-07 13:57] #297 closed

[2016-12-08 14:06] #238 closed

[2016-12-08 14:14] skellock opened #301 "Make fetch happen"
Was hacking around with Apollo recently and found myself wanting to hook into `fetch` to show up Reactotron.

Now this is a bit hacky, but it does seem to work.

Perhaps we could add this in as an opt-in plugin?   I know we're monkey-patching in this example, but the real version we could offer up an option to the user to do that.

[code]

The interface is exactly the same as fetch works right now

[2016-12-08 14:46] rmevans9 commented on #301
This code snippet assumes the response is JSON which if you monkey patch this in and then do a fetch that returns something other then JSON I suspect this will fail.

[2016-12-08 14:57] skellock commented on #301
Ah, yes good catch!

[2016-12-12 04:51] jeffscottward opened #305 "Cannot find createSagaMonitor - "not a function""
Per the instructions here.
https://github.com/reactotron/reactotron/blob/8eb86998133d18364b7e46dc804af6de9e778044/docs/plugin-redux-saga.md#step-2---plugin-to-redux-saga

I get the error.
![screen shot 2016-12-11 at 11 49 31 pm](https://cloud.githubusercontent.com/assets/1263486/21088373/8d1b8ad2-bffc-11e6-8284-17bbe8af568f.png)

Basic code is
[code]

Reactotron is v 1.6 now. What is the status of

[2016-12-12 09:31] skellock commented on #305
The status should be fine Jeff.

The `reactotron-redux-saga` plugin hasn't been loaded into Reactotron.  That's the plugin that makes that function available.

Can we check a few things?

Do you have a ReactotronConfig.js file?  Is that being loaded before you load your Redux stuff?

If so, is your ReactotronConfig.js loaded via a `require` and your Redux stuff loaded via `import` from the same fi

[2016-12-13 15:15] skellock opened #306 "More Issues With React Native Router Flux"
We seem to be having some issue with React Native Router Flux once it's plugged into redux.

More details here.

https://github.com/infinitered/ignite/issues/537

I'll try to reproduce this.

[2016-12-13 15:34] skellock commented on #306
Also, it's possible to ignore these message inside `reactotron-redux`, but I'd love to support `react-native-router-flux` as I've used it on few projects.  Maybe it's time to make a plugin specifically for it?

[2016-12-14 21:57] ajonno opened #308 "Crash on app launch"
Just installed to our in dev RN project. Getting a crash error on startup seems to be related to socket.io? Screen shot below

[code]

![image](https://cloud.githubusercontent.com/assets/3005269/21202918/8a7588e6-c2a4-11e6-940f-c4cd038eee32.png)

[2016-12-14 22:26] skellock commented on #308
Poopy pants.

What version of Reactotron are you using?

[2016-12-14 22:48] ajonno commented on #308
haha, like your style! its Version 1.6.0 (1.6.0)

[2016-12-14 22:53] skellock commented on #308
1.6.1 is the latest version available for your `package.json` libraries.  I recommend upgrading there.

Are you able to paste your `ReactotronConfig.js` file?  Also, are you using `react-native-router-flux` by any chance?

[2016-12-14 22:55] skellock commented on #308
Also, if you scroll to the bottom of that stack trace... do you see anything Reactotron related?  It'll probably be *just* be for you see Socket.IO.

Do you see anything show up at all inside your Reactotron App?   Like "Connected" and such?

[2016-12-14 22:58] ajonno commented on #308
checking now..

[2016-12-14 23:06] ajonno commented on #308
hmm ive deleted OSX app, clicked on "Download OS X App" again, finished install fine. then open the app and it shows as V 1.6.0.

[2016-12-14 23:17] skellock commented on #308
yep.  that app should be 1.6.  But the parts that plug into your `package.json`... what versions do you have for that?

[2016-12-14 23:29] ajonno commented on #308
oh sorry my bad. ok so to answer your previous q's:
1. reactotron-redux :  im actually using React Native so have installed "reactotron-react-native": "^1.6.0" into the dev dependencies

2. I've just pasted the file contents into App.js for the time being. For clarity here is my App.js
[code]

3.  react-native-router-flux --  i am not using this, however I am using exponent/ex-navigation (in a "va

[2016-12-14 23:31] ajonno commented on #308
lastly, I've also got reactotron-cli installed ; 1.6.0

[2016-12-14 23:42] ajonno commented on #308
I cant see anything Reactotron related. The error screen is all related to socket.io

If I do a clean React Native app build (react-native init xxxx) and the install/require Reactotron it works fine. There must be some dependency that's getting in the way in this dev app.

[code]

[2016-12-15 00:58] skellock commented on #308
Ah.  This is Exponent.  I've not tried this platform yet.  As far as I know, it thought it should be compatible.

They do lock some stuff down though.  Like the ability to talk to HTTP.  By default that's what Reactotron uses to communicate from your device or sim back to your computer that's running your app.

What you have there is really the simplest it can be.  If that's not working, I'd say,

[2016-12-15 01:02] ajonno commented on #308
ok no worries i understand. if u have time might be a good box to tick so others using Exponent RN components can use Reactotron.

[2016-12-15 01:10] rmevans9 commented on #308
@skellock @ajonno this is actually ex-navigation specifically right? Not actually the full exponent setup? If so, I use ex-navigation with Reactotron without issue.

Looking at the socket.io code it looks like it is failing because the namespaces variable which is passed in on some sort of `enable` function is not null but also not a string (maybe an object? or a function?) I would be interested i

[2016-12-15 01:18] ajonno commented on #308
yes correct im not using Exponent framework, just ex-navigation.

ok sure sounds like a good idea. ill have to park this till EOD now but i will definitely do it, and post back here. im based in sydney fyi.  appreciate your help with this.

[2016-12-15 01:25] rmevans9 commented on #308
I look forward to it!

[2016-12-15 08:37] nonameolsson opened #311 "reactrotron-react-native should be listed in the project's dependencies"
I get the following error in `Reactotron.Config.js:1` from Eslint when following the [instructions](https://github.com/reactotron/reactotron/blob/master/docs/quick-start-react-native.md):
[code]

This is my `package.json`:
[code]

When I start the app it doesn't connect to Reactotron. Am I missing something?

[2016-12-15 12:21] skellock commented on #311
It's fine to put it in dependencies as long as you put a `if (__DEV__)` wrapper around the `Reactotron.connect()`.  You don't want it to run in production.

It should be able to connect though.  Are you running on a device or emulator?   iOS or [Android](https://github.com/reactotron/reactotron/blob/master/docs/troubleshooting.md#tethered-and-cant-connect)?

[2016-12-15 14:33] nonameolsson commented on #311
Thanks! Now I got it to work. But why does it complain about it? I thought that `reactotron-react-native` should be in the  devDependencies?

I run both an Android and an iOS emulator on MacOS.

[2016-12-15 15:01] skellock commented on #311
The complaint is because your linter knows that if you're using `import`.  es6 module loading is a compile-time thing (as opposed to `require`).

Check out how we do the [reactjs demo](https://github.com/reactotron/reactotron/blob/master/packages/demo-react-js/src/ReactotronConfig.js).  See how we're using `require` that's guarded with `if`?   In React Native that would be `if (__DEV__)`.

The eas

[2016-12-15 15:04] nonameolsson commented on #311
Thank you for answer my question so fast! I will play around with it to see if I can get it to work with the GUI.

👍

[2016-12-15 16:35] skellock commented on #311
Make sure you're not running the GUI at the same time as the console.  There can only be 1.  ⚔

:)

[2016-12-17 09:34] flaz83 opened #312 "Unable to resolve module react-native/Libraries/Core/Devtools/parseErrorStack from .../node_modules/reactotron-react-native/dist/index.js"
Good morning.
After cloning my repository on other computer, I have this error on simulator and device.

Unable to resolve module react-native/Libraries/Core/Devtools/parseErrorStack from .../node_modules/reactotron-react-native/dist/index.js: Unable to find this module in its module map or any of the node_modules directories under /Users/node_modules/react-native/Libraries/Core/Devtools/parseErro

[2016-12-17 12:39] rmevans9 commented on #312
What version of react-native are you running?

[2016-12-17 15:41] flaz83 commented on #312
react-native 0.34.1

[2016-12-17 16:05] skellock commented on #312
Look like perhaps in 35 they moved files around.  These are all internal facing files for React Native, so, stuff like this is going to happen.

One thing we could do is what @flaz83 is suggesting, is have fallbacks.  I kinda wish there was an external facing version number for React Native we could check to do stuff like this.  There was talks a while ago about putting something on `window.naviga

[2016-12-18 00:11] Cadiac commented on #312
+1 to this issue, running react-native 0.35.0. I cloned my repository on another computer and started getting this error today.

[2016-12-18 02:10] skellock commented on #312
Looks like they moved the files around in version 0.37.  Bummer.

I have the require inside a try/catch already, but `require` seems to be one of those things that can bring the house down if it's missing.

Still looking at a few options here to support older versions.

[2016-12-19 15:12] lavarene commented on #312
I'm using react-native 0.35.0 and ran into the same issue. @flaz83 Your fix worked. Thank you!

[2016-12-19 18:55] jeffscottward commented on #305
I don't understand what this means. I'm asking if the feature is soon to be implemented or not.

So then this error is to be expected which is what I was asking in the first place. Basically, I followed everything perfectly and wanted to make sure that this error is not my fault.

Yes

Everything is `import`s exactly as the docs show.

`.connect(sagaPlugin())` same thing.

Thanks for the debugging

[2016-12-20 14:48] skellock commented on #305
`reactotron-redux-saga` is a plugin.  I don't automatically include this because not all people use that.

One thing I'd be open to, however, is making a module which includes them all.  `reactotron-react-native-with-everything` or something.

Sorry for the confusion.

[2016-12-20 20:29] kumarpatel commented on #312
flaz83 I'm confused by your suggested fix.
I don't see the line you're suggesting to change in `reactotron-react-native/dist/index.js`
Do you have your fix in a fork that I could point against?

[2016-12-20 20:32] flaz83 commented on #312
reactotron/blob/master/packages/reactotron-react-native/src/plugins/track-global-errors.js
line 74

[2016-12-20 21:22] kumarpatel commented on #312
Got it. Thanks @flaz83
Fix works me as well.

[2016-12-20 21:40] kumarpatel commented on #312
Another question: How do I rebuild the `reactotron-react-native/dist` dir after making the change in `reactotron-react-native/src/plugins/track-global-errors.js`?

[2016-12-21 15:28] sradevski opened #313 "'f is not a function' when using Reactotron.createStore"
I am trying to use Reactotron with react-native, and it worked flawlessly before trying it with Redux. Now it gives me an error as in the image:

![screen shot 2016-12-22 at 0 16 22](https://cloud.githubusercontent.com/assets/4820812/21394650/d24f7b08-c7dc-11e6-8972-3b2dc6d2c471.png)

This only happens when I use Reactotron.createStore, and it works as expected with the Redux createStore. I looked

[2016-12-21 20:13] skellock commented on #313
Looks like I have a bug in there.  Can you try adding a 3rd parameter to the `Reactotron.createStore()` call?

Maybe just try something silly like:

[code]

I know it doesn't do anything, but it should fulfill the contract of what `Reactotron.createStore` is expecting.   With 2 parameters, I think I'm incorrectly assigning position 2 to the middleware and not the initial state as you're expecting.

[2016-12-22 07:37] sradevski commented on #313
Thanks for the prompt response. I think you are right, the bug is probably in the assignment of the initialState and enhancer.

I just did this:
[code]

and it is working as expected. Cheers!

[2016-12-23 09:59] hygkui commented on #305
@jeffscottward
 I have the same issue, try to change this line

`sagaMonitor = Reactotron.createSagaMonitor()`

to

`sagaMonitor = Reactotron.createSagaMonitor`

[2016-12-23 12:48] Eyesonly88 commented on #272
For those looking to do this on iOS, here's how to do it:
[code]

[2016-12-23 13:19] #272 closed

[2016-12-26 00:46] rmevans9 opened #314 "Find a way to make "Open In Editor" work for React JS"
To match RN functionality. We don't have the benefit of the RN packager to do it for us but I am sure there is a way it could be done.

[2016-12-26 01:13] rmevans9 commented on #312
@kumarpatel '''yarn (or npm) run build''' <- assumes node_modules are installed

[2016-12-28 07:09] fkrauthan commented on #195
Since this app now has official windows builds too you might wanna change the README to mark that. Right now when visiting the repository it seems its a Mac only app.

[2016-12-28 10:27] skellock commented on #195
I've been holding off until I get the icons in place and some feedback from people. But I can add a comment pointing folks at the binaries.  Thx.

[2016-12-28 19:22] bbubn commented on #312
Hi,
One more with same error on RN 0.35.0

[2016-12-28 20:34] laurelli-indyres commented on #312
Same as above. RN 0.35.0, and the fix proposed by @flaz83 does resolve the issue for me as well.

[2017-01-03 17:27] g6ling opened #317 "null is not an object (evaluating 'reduxStore.getState')"
<img width="487" alt="2017-01-04 2 17 47" src="https://cloud.githubusercontent.com/assets/8134523/21616267/2aa560f0-d224-11e6-9fa9-fa91a72152ef.png">

I met this error. When I refresh several times, sometimes it runs.

This is my files
[code]

[code]

[code]

RN version: 0.38
reactotron-react-native: 1.6.0
reactotron-redux: 1.6.1

[2017-01-03 18:18] skellock commented on #317
Seems like the store isn't quite setup before accepting the first command.  I'd recommend moving the store creation out of the constructor to decouple it from React's components.

[2017-01-07 09:07] nonameolsson commented on #301
This would be great! Any progress?

[2017-01-07 10:33] g6ling commented on #317
@skellock thanks. I solved this problem.

[2017-01-09 06:25] fabriziogiordano commented on #317
@skellock I'm incurring in the same error. How did you solve it?

[2017-01-09 10:05] g6ling commented on #317
I only changed my code like this.
[code]

[2017-01-09 15:44] fabriziogiordano commented on #317
Thanks @g6ling I ended up with that solution as well. I had to mangle with the callback in the `configureStore`

[2017-01-09 16:10] g6ling commented on #317
@fabriziogiordano
This is my `App.js`
[code]

First, I set initialState with only JS object unlike `redux-persist`, `realm`. `setInitialState()` is action for async setInitialState. I used `Realm`.

[code]

[code]

This is my code. I don't use callback only use action.

You make store outside `react component` and update your store in `component`. So you can use callback

[2017-01-10 08:20] devinceble commented on #312
Any news?

[2017-01-10 15:07] skellock commented on #312
Ok.  Sorry for the grief folks.

This is caused because facebook change the location of its' internal files in 0.37.0.  It's kinda our fault for using them... but damn it, i want nice things!

So... here's our outs:

1.  Upgrade to React Native 0.37.0 🎉

In the meantime, if you can't or wont (which i totally understand!!!) I just made a new package called `reactotron-react-native-under-37`.  Unins

[2017-01-10 15:07] #312 closed

[2017-01-11 14:16] Aleksion commented on #306
I'm facing the same issue. However, adding the following array doesn't seem to do anything:

[code]

Per the comment on the issue on ignite, it was said to be added at:
`reactotronRedux({except: exceptions})`

in `Reactotron.configure().use(reactotronRedux({except: exceptions})).connect()`

But after looking through the Reactotron code it seems it "should" be added in the enhancer:

`createReactot

[2017-01-11 16:48] skellock commented on #306
The former should be correct.  You add it as an option to `reactotronRedux`.

And so the actions still go through?  And the text matches exactly?  Could you post a screen shot of the action as it appears in Reactotron?

Something fishy is up.  Your first code looks correct.

[2017-01-11 22:19] mkubliniak commented on #272
I use this:

[code]

[2017-01-11 22:34] skellock commented on #272
woah.  that's awesome!

[2017-01-12 02:58] juddey commented on #312
Thanks man! Just hit this. Running React Native 33.

This might just be the push I need to write some more tests so I can upgrade react native versions to the latest and greatest, with at least some sort of safety net.

[2017-01-18 10:39] Aleksion opened #322 "Identify multiple clients in app"
While it's possible to identify clients by name on Connection, I can't figure out (if it's even possible) to identify it on individual action dispatches. I'm developing a react-native app simultaneously on Android and IOS, but following which subscription belongs to which client etc. is fairly hard currently.

Am I missing something?

[2017-01-18 14:25] skellock commented on #322
This isn't supported at the moment.

On the server side of things, we'd have to establish the concept of a session.

Then we'd have to segment the UI some how too.  Multiple windows?  Tabs?

It'd be a big change, but certainly possible to do.  It's something that I kicked myself after realizing it was too late.  😸

So, all commands get dispatched to all clients.  As you can attest to, this makes l

[2017-01-18 21:28] jsvg commented on #242
has #315 covered this?

[2017-01-18 21:59] skellock commented on #242
Not yet.  Thanks for the reminder.  We've got another release happening shortly.  I'll see to it that @rmevans9 's work implementing it sees it in!

[2017-01-18 22:15] jsvg commented on #242
I think there might still be a small problem with the implementation. It looks like errors are still thrown when passing actions with immutable payloads. I don't have too much time to dig into a proper solution, but dropping this snippet in `report-action.js` before line 11 (`reactotron.send`) seems to work in my case.

[code]

Hope this helps!

[2017-01-18 22:20] rmevans9 commented on #242
Yeah, the current implementation only considers the redux state tree as immutable, should be an easy fix to make it work for actions too

[2017-01-18 22:25] jsvg commented on #242
Just noticed that the code above mutates actions so the cleaned actions should be `Object.assign`ed to a new var.

[code]

[2017-01-22 20:40] samcorcos opened #324 "JSON scrubbing is causing performance issues"
When receiving a large JSON object from a network request (128kb) with nested values, the event loop is hung for about 15 seconds.

<img width="722" alt="screen shot 2017-01-22 at 12 24 40 pm" src="https://cloud.githubusercontent.com/assets/2626231/22185615/e0186766-e09d-11e6-911f-c832d6b012f6.png">

When Reactotron is disabled, the performance issues go away. I also found that when I set `safeRec

[2017-01-22 22:51] skellock commented on #324
Thanks for reporting in.  Appreciate it!  Are you on React Native?

Is it a lot of properties?  A lot of nesting?  I'd love to find a fast serialization method and put this to rest.

[2017-01-22 23:11] samcorcos commented on #324
@skellock Yes, using React Native.

[Here's the data](https://gist.github.com/samcorcos/ffec3e595ebc0af77757691aaac48293)

It seems like Reactotron has trouble dealing with it in the logs and in the state subscription.

[2017-01-23 00:08] skellock commented on #324
That's great man, thank you for sharing this.  That scrubbing function evaluates every single property and figures out of they are circular references in addition giving friendly names to functions.  I'll look at optimizing.

[2017-01-29 19:11] hilkeheremans commented on #324
Same here on RN. Thanks for digging into this @samcorcos.

[2017-01-29 19:15] hilkeheremans opened #325 "[reactotron-redux-saga] Cannot read property 'root' of undefined"
Getting this error in a very specific case in a larger app of ours. Tracked it down to `getEffectDescription` which receives an undefined `effect`. Given the complex event flow in this application and `redux-saga` limited ability to stack trace errors inside saga's, it's extremely hard to track down the root cause inside our application (if any -- might as well be a bug here).

Are you up to accep

[2017-01-29 21:30] Amurmurmur opened #326 "Disable in release build React-Native"
Currently doing the following to try to disable it in the release builds:

Here is my creatStore:
[code]

Here is my Reactotron config:
[code]

However the app still connects to reactotron even in release build of react-native app.

I would be very thankful if somebody can clear this up for me and give an advice on how to not enable reactotron in release builds.

Thank you in advance 👍

[2017-01-29 23:31] skellock commented on #326
You can separate the `.connect()` call onto a new line and wrap an if statement around it.

`if (__DEV__) Reactotron.connect()`

[2017-01-29 23:31] #326 closed

[2017-01-29 23:35] skellock commented on #325
Hi. Sure. I'm open to safely handling this situation for sure.  `if (!effect) return UNKNOWN` would be probably it eh?

I'd never encountered a situation where the effect was `undefined` before.  Do you have some custom channels going on or something?

[2017-01-30 08:59] hilkeheremans commented on #325
I'm not sure. My best hypothesis is that we're doing something not quite correct in one of our saga's, but this would be a real PITA to find out. When I disable Reactotron there are no issues whatsoever.

debugger output at `effectTriggered` before the error throws:
[code]

[2017-01-30 20:02] jsplaine commented on #313
I'm seeing the same problem but I'm using a non-empty compose message and am not using any 'dummyInitialState'.

What parameters should I send to Reactotron.createStore?  Below results in the f(composed) "Array is not a function" error.

[code]

[2017-01-30 20:08] skellock commented on #313
What is `middleware` is your setup?  Is it an array or a function that has run through `applyMiddleware()`?

[2017-01-31 10:20] Eyesonly88 opened #327 "Getting a shrug emoji for GET response ?!"
Hi 👋 . I upgraded my project to use React Native 0.40 (which also upgraded React to `15.4.2`). After that, all api requests using `apisauce` are giving me a shrug emoji :man_shrugging: :rofl: 👎
Note that all the requests i'm making are HTTPS and I have added the necessary key in my plist like this:
[code]
Shrug error:

![image](https://cloud.githubusercontent.com/assets/767013/22459856/215701c2-e8

[2017-01-31 12:42] skellock commented on #327
You won't need to make an NSAppTransportSecurity entry for HTTPS, so it's not that.

The shrug means null.  If the URL is fine in the browser, then have a look at your request headers.  Is there something missing in your app that is in your browser?

[2017-01-31 12:45] Aleksion commented on #322
Ha ha, Well at least I can stop looking for it then :)
I hope you get to come back to this one day

Thanks!

[2017-01-31 12:48] skellock commented on #322
I'd like to.  This would be the key to multi-device scripting & remote control.  Scripting is something I've been wanting to add for a while.

[2017-01-31 22:23] zevmo commented on #58
+1

[2017-02-01 03:18] lewisle opened #328 "Error when running React Native Demo: (0,_reactotronReactNative.overlay) is not a function"
Hi,
I've got this error when running the demo on iPhone simulator. Not sure how to fix it. Could you please advise?

<img width="487" alt="screen shot 2017-02-01 at 10 17 04 am" src="https://cloud.githubusercontent.com/assets/929120/22494152/a43c5122-e867-11e6-85b1-0b346b446679.png">

[2017-02-01 03:58] kevinvangelder commented on #328
Looks like your Reactotron NPM module is out of date. Give `npm update` and `react-native start --reset-cache` a try.

[2017-02-01 09:32] lewisle commented on #328
Thank Kevin. I've tried but, unfortunately, it did not work. The error is still there. By the way, it seems that my npm is already up-to-date.

[2017-02-01 15:07] skellock commented on #328
Ya...

Here's the awkward thing with React Native 3rd party plugins....

They don't support symlinks.  There's been several attempts at getting it working on React Native, but it doesn't seem to do the trick.

So in our repo, we have to do a few tricks.  From the root of this project, here's what I've been doing to make this work:

[code]

This will get you a "healthy" demo environment.  Now just

[2017-02-01 15:07] #328 closed

[2017-02-01 17:59] kevinvangelder commented on #328
Oh, my bad, I thought this was an issue on Ignite. #fail

[2017-02-03 05:20] jamonholmgren commented on #327
@skellock We might consider just outputting `null`. I was actually quite confused by the shrug when I first used Reactotron too. Not as fun, but... ¯\_(ツ)_/¯

[2017-02-03 05:31] skellock commented on #327
Ha! Yes, sadly I agree. Feel free to open another ticket.

[2017-02-03 23:03] Eyesonly88 commented on #327
I'm still trying to figure out the problem 😭.
Yes, provide as much debugging info as possible please 👍
I love your tool because it makes it easier to debug in most cases while also being easy to use.

[2017-02-04 00:13] GantMan commented on #327
you can have shrug when you pry it from my cold dead JavaScript infested hands.

[2017-02-04 00:14] GantMan commented on #327
RE: @Eyesonly88 - are you testing for a failed API with a catch block?

[2017-02-04 02:32] skellock commented on #327
@Eyesonly88 Are you able to test this same API call in Postman?  Does it work there?  You're not getting a status code at all in a response, but yet it's taking 859 ms... Is the server yours?  Can you see anything in the log files?

[2017-02-07 01:05] jamonholmgren opened #331 "Change ¯\_(ツ)_/¯ to `null` in output"
Per #327, sometimes the ¯\_(ツ)_/¯  is confusing in output, especially to newbies. Let's just output `null` or `undefined` as expected. Maybe put the `¯\_(ツ)_/¯ ` after them?

[code]

[2017-02-07 11:33] skellock commented on #331
I can't just do it because null and undefined dont serialize in json.  I lose that bit of identification when i jump the wire.  Thats why I print Mr. Shruggy.  I really dont know which one it is.

I'll consider this though when I address the performance issues with serialization.  I might have to switch to a new format which will preserve that.

I agree its not clear though.  Was just keeping thin

[2017-02-07 11:33] #331 closed

[2017-02-07 11:38] skellock commented on #331
Also if you have any ideas for the serialization issues, that'd be welcome!  Cuz we could do this client side too.

[2017-02-07 18:06] kevinvangelder commented on #331
Couldn't you just send a string `"null/undefined"` with Mr. Shruggy?

[2017-02-07 19:26] skellock commented on #331
yep.  and the act of inspecting the hierarchy of object is part of the performance problem i'm having... i'm doing that to detect circular dependencies and name functions.

https://github.com/infinitered/reactotron/blob/master/packages/reactotron-core-client/src/scrub.js#L22

Works great for small objects.

Dies horribly on larger.

Since the communication part is kind of a private API, I'd be ope

[2017-02-09 22:02] jamonholmgren commented on #331
Once things settle down on the Ignite / <new project> end of things, I can help with this.

[2017-02-11 10:21] Lxxyx opened #337 "RN - Attempted to assign to readonly property."
![image](https://cloud.githubusercontent.com/assets/13161470/22853059/76d05dd8-f086-11e6-8bb7-25e5cf49c46f.png)

RN Version: 0.41.2
Reactotron: 0.17.0
OS: MacOS 10.12.3 (16D32)

Bug: I use [react-native-router-flux](https://github.com/aksonov/react-native-router-flux) as my App router. And When click return. App has crashed and give me an error.

![image](https://cloud.githubusercontent.com/assets

[2017-02-11 10:27] Lxxyx commented on #337
Use https://github.com/infinitered/ignite/issues/537 Method fix my problem.

[2017-02-24 13:36] davidjb opened #339 "Ability to select/copy event timeline entries"
It would be great to be able to select and/or copy to the clipboard log entries in the event timeline.  Aside from being helpful in general, being able to log a value/structure/etc with Reactotron and copy out the data for inspection (eg into another editor or program) would be extremely helpful.

Using Reactotron 1.7.0 on Mac.

[2017-02-24 13:38] skellock commented on #339
Agreed.

What are you thinking?  Export as JSON?

[2017-02-24 13:48] davidjb commented on #339
Open to suggestion -- I thought something like a 'copy to clipboard' icon next to each entry + ability to select part of an entry's text would be most convenient + flexible.

I'd be happy just to copy an individual entry's content as text -- I'm logging different file formats as text strings (as well as objects in JSON) like this:

![screen shot 2017-02-24 at 23 43 44](https://cloud.githubusercont

[2017-02-24 13:53] skellock commented on #339
What?  Just type it back out!  😜

Ya, not being able to select text is pain in the butt.  I'll queue that one up.

Thx man.

[2017-02-24 14:19] davidjb commented on #339
Heh, yep, I considered OCR'ing for a bit too.  Thanks for the super-quick response, Reactotron is awesome.

[2017-02-24 16:27] #339 closed

[2017-02-26 07:10] dhruwal opened #341 "console.log"
Just a question as per the example given in tips and tricks section.
Can we instead do like this itself?

console = Reactotron
console.log('hello rendering world', true)

INSTEAD of mentioned:
console.tron = Reactotron
console.tron.log('Sweet Freedom!')

Basically hijacking the whole console output wherever i was already using it without having to add extra word?
It works, but would it cause any i

[2017-02-26 18:55] rmevans9 commented on #341
Related https://github.com/infinitered/reactotron/issues/298

Basically the interface for Reactotron.log does not match that of console.log. @skellock comment in that ticket actually works pretty well (I am doing it in a project of mine.

[2017-02-26 18:57] skellock commented on #341
Might be worth creating a plugin for this?

As long as we swizzle the original (intercept theirs, call ours, then call theirs), I don't see too much wrong going on.

This is something I'd consider adding into core in 2.0 though if it works well!

[2017-02-26 19:37] dhruwal commented on #341
Great. @skellock thank you so much for great app. finally can get rid of chrome debug.

[2017-02-26 19:37] #341 closed

[2017-02-26 20:57] skellock commented on #339
This is shipping now in 1.8.

[2017-02-27 17:33] kevinvangelder opened #343 "React Native Windows SocketException"
The exception is thrown in the background and does not interfere with our application, but seeing them in the logs caused some concern that there might be something wrong with our app.

[2017-02-27 17:37] skellock commented on #343
I guess this is socket.io going crazy trying to reconnect?

Is it a JS stack trace do you know?

[2017-02-27 17:39] kevinvangelder commented on #343
It's showing up in the Visual Studio output so I think it's a native exception (possibly something with how we've implemented the WebSocket module). I would guess you are probably correct that it's trying to reconnect.

[2017-02-28 12:11] andreiconstantinescu opened #344 "Apisauce Monitor doesn't play well with Blobs"
So... the problem is this.

I have a proxy server which fetches some content (10 images) and sends them to the FE as buffers in an array. When the FE gets teh response, it create the Blobs to render them on the page and it takes around 5-6s for the page to load completely.
If I pull out the apisauce monitor, everything works as expected, as soon as the request gets a response on the FE it creates

[2017-02-28 12:52] skellock commented on #344
Sounds like we will have to skip the output if the response type is image/*.

Should be possible to do.

[2017-02-28 22:54] di commented on #325
For me, this was caused by yielding on a function call without wrapping it in a `call`, which makes the effect the result of calling that function. In my case, this was a navigation action, which returned `undefined`. For example:

[code]
should become:
[code]

I support the proposed patch -- `reactotron-redux-saga` should just give a description of `UNKNOWN` if `effect` is undefined due to user e

[2017-02-28 22:56] skellock commented on #325
oh wow.  great find!

[2017-03-01 12:18] #325 closed

[2017-03-05 21:20] aight8 opened #346 "reactotron saga -> support yielded promises"
Currently a returned promise - which is supported by redux-saga correctly - reactotron display "UNKNOWN" as entry.

Example:
[code]

I consider how it could be more informative.
First "PROMISE" were better than "UNKNOWN".

Maybe if the Promise contains a "name" prop it could take this one. Then display PROMISE(fetchUser).

[code]

[2017-03-05 22:24] dotnetprofessional opened #347 "Unable to build on windows"
I tried to build from source and am getting the following errors. I've tried from GitBash shell as well as a command line. It results in the same issue:

Lerna v2.0.0-beta.37
Bootstrapping 12 packages
Preinstalling packages
Installing external dependencies
Symlinking packages and binaries
Postinstalling packages
Prepublishing packages
Successfully bootstrapped 12 packages.

Lerna v2.0.0-beta.37
Sc

[2017-03-05 23:09] aight8 opened #348 "Redux saga live UI"
For debugging reasons beside of the redux-store it were nice to log the root saga as tree to reactotron. The same way how processed sagas are displayed as very nice tree.

This because it would complete and redux-saga have currently no stable debugging tool - one for the browser is in WIP but no progress there. For console there is nothing.

On this way reactotron would be even more the central de

[2017-03-05 23:19] skellock commented on #348
Check out the 2nd tab.  Press Command+N and press enter.  Now you're watching the global state tree.  Is that what you mean?

[2017-03-05 23:24] skellock commented on #347
I've had some trouble building on Windows.   Try running them one at a time.  I'm wondering which one is causing grief.

It almost looks like there's some weird spaces in there causing problems?  that might be just copy & pasting from a console though.

[2017-03-05 23:26] skellock commented on #346
Thanks.  I've never tried to do that before.

[2017-03-05 23:31] aight8 commented on #348
No sorry maybe I was not clear enough. I don't mean the redux state but the current redux-saga "state" or I don't know how this is called.

https://github.com/infinitered/reactotron/blob/master/docs/plugin-redux-saga.md

In the docs above there is a nice output of the yielded effect, this works like a charm.

The root sage which was dispatched on the middleware mostly is a long-running process whi

[2017-03-05 23:42] skellock commented on #348
Haha.  It means `nil` or `undefined`.  I can't tell you which one because that details drops before I serialize it and send it to the Reactotron app.  Other people mentioned it should be just blank or something normal people can understand!  haha!

I get what you're saying.  Tab 2, but for sagas.  Interesting.

[2017-03-06 01:07] aight8 opened #349 "duplicate"

[2017-03-06 02:31] #349 closed

[2017-03-06 11:25] aight8 commented on #200
I tried to debug what is not working if start the session in nodejs.
First reactotron-js-react is browser specific (access the window object to fetch the user agent)
So I tried to use reactotron-js-core directly, but I don't get it work, the passed io (socket.io-client) never could connect to the reactotron app.
However the same code worked in the browser.
targeted:
ws://localhost:9090
even tried

[2017-03-06 12:05] skellock commented on #200
I'm not sure how SSR works. It makes sense that it should be able to work since it is node.  I just dont know how the lifecycle would work.  When do you connect to Reactotron?  How do multiple clients work? Where is the state held?

It'd be helpful to see a working example. Do you have a repo you could share?

[2017-03-06 14:20] aight8 commented on #200
SSR is referred to server side rendering of react components, however the whole source code is mostly identical to the browser. SSR uses the same code like the client but instead render it to the DOM it output it as a string inclusively the redux-state (depend on the implementation it makes some more thing like waiting for sagas - mostly api calls). Yes there could be more thing but nothing "relev

[2017-03-06 14:37] skellock commented on #200
Holy crap man.  Thanks for taking the time to write that out.

[2017-03-07 05:19] dotnetprofessional commented on #347
OK so I discovered that the apostrophe's are causing an issue ie
it should be
[code]

However I now get the following error:

[code]

[2017-03-07 15:26] cbrwizard opened #351 "An object with `writable: false` prop in a state breaks SagaMonitor"
We've recently added reactotron to our project and it's pretty cool.
We've noticed though that it raises an unhandled exception on read-only object' props in sagas and actions attributes.

In this line https://github.com/infinitered/reactotron/blob/f49760fef66a24bd8ab26dd06c570176f0619c0f/packages/reactotron-core-client/src/scrub.js#L46
[code]
an error is raised `Cannot assign to read only propert

[2017-03-07 15:31] skellock commented on #351
Agreed... Reactotron needs to take the hippocratic oath.

Hey, so can you turn off that scrubbing?  In your `ReactotronConfig.js`, add this in:

 `Reactotron.configure({ safeRecursion: false })`

This turns off that scrubbing behaviour.

If you're using `react-native-router-flux`, logging react components with `console.tron.log()`, or other things with circular references, you'll have some issues.

[2017-03-07 15:33] burabure commented on #351
I can also see that `replaceValuesWithSomethingWeCanSeeOnTheOtherSideOfSerialization` failing on other cases, I really think we ought to protect that logic with try/catch and provide safe error handling

[2017-03-07 15:36] burabure commented on #351
@skellock turning safe-recursion off caused the stack to blow inside an action:
[code]

PS: @cbrwizard and I work on the same codebase

[2017-03-07 15:36] skellock commented on #351
I agree 100%.  Not only that, the function is incredibly slow.  I have a client with a 6mb JSON object, and it noticably slows down everything.

[2017-03-07 15:37] skellock commented on #351
Is the action logging something like a react component?  Or perhaps `react-native-router-flux`?

[2017-03-07 15:41] skellock commented on #351
That stack overflow is something in socket.io (my nemesis).  I can't rely on it to serialize the messages, so that scrub functionality exists to "prep" it for transport.

I've been searching for a better way to serialize that message over the wire.  Everything I find and plug in has issues.

[2017-03-07 15:42] burabure commented on #351
@skellock
![image](https://cloud.githubusercontent.com/assets/3132298/23664135/798a0384-0333-11e7-8186-4383389c9198.png)

[2017-03-07 15:44] burabure commented on #351
we'd be completely fine with losing some detail on the reactotron logging if the tradeoff is not blowing up our app; do you think there's a quick patch for this?

[2017-03-07 15:47] skellock commented on #351
Gotcha.  Somewhere in `_events`, there's a reference to itself or another object with a circular reference.

One option:

If it's just `INIT_DATA/SET` causing grief, you can turn that off in a filter in your ReactotronConfig.js in the [redux plugin](https://github.com/infinitered/reactotron/blob/master/docs/plugin-redux.md#except) using `except`.

Another thing we could do is provide a pre-seriali

[2017-03-07 15:52] burabure commented on #351
thanks @skellock I'll try that.

about the serializer, do we absolutely need to mutate the original?, how about creating a new object copy, if that's too slow, maybe just do that when mutating fails?

[2017-03-07 16:05] skellock commented on #351
Definitely should not be mutating the original.  That's a bug for sure.  I'll fix that up.

[2017-03-07 16:06] skellock commented on #351
![image](https://cloud.githubusercontent.com/assets/68273/23665299/0dda3f1c-0326-11e7-9609-883923b53795.png)

Ugh... with a comment like that, I can't even claim it was an accident either.

[2017-03-07 16:07] burabure commented on #351
@skellock I wasn't gonna say anything about that comment ;D

[2017-03-08 13:55] rmevans9 commented on #348
I feel that this feature would be a huge value add to Reactotron. The concern I would say is if every effect "update" were pipped to Reactotron immediately it would generate a lot more traffic then there already is going over the socket connection. I am not sure if that will cause any performance issues while having Reactotron connected though. I am fairly certain that the sagaMonitor only sends t

[2017-03-08 14:05] skellock commented on #348
We could maintain the state on the client and just ship delta across the wire.

I feel like the data model of this wouldn't be too tricky to assemble.  The saga monitor we have already listens to all the appropriate events.  We'd have to remember the state instead of dropping it.

I agree with both of you.  This is one of those ideas that makes so much sense, I can't believe I haven't seen impleme

[2017-03-08 14:51] skellock commented on #351
Here's where i went [off the rails](https://github.com/infinitered/reactotron/blob/f49760fef66a24bd8ab26dd06c570176f0619c0f/packages/reactotron-core-client/src/scrub.js#L59).  Clone is shallow.  Blargh.

[2017-03-08 15:01] burabure commented on #351
@skellock yeah, clone is a bit weird since it does make a deep copy of everything but functions; Functions are referenced directly on the new object.

I assume this is because Ramda intends on a cloned object to be deepEqual to the original

[2017-03-08 15:10] skellock commented on #351
Gotcha. Thx.

What i need is something that recursively walks a structure.  Each visit calling an optional callback allowing me to override the value placed inside.

[Like this](https://github.com/facebook/react-native/blob/e11b9d832a5cf64229290d681ec8ac3ad821d3c0/packager/src/Resolver/polyfills/console.js#L19) but for JSON and a little more open to callbacks.  Preferably a dependency-free package

[2017-03-08 15:16] rmevans9 opened #354 "React Native - AsyncStorage UI"
https://facebook.github.io/react-native/docs/asyncstorage.html

I don't see any type of event listeners so it may not be a "live" view but it would be neat for it to pull all the keys/values and display them in Reactotron. Might be useful for debugging when AsyncStorage is in use.

[2017-03-08 15:26] rmevans9 commented on #354
With a quick test an option for keeping a "live view" of the async storage I found that you could "overwrite" the async storage methods.

[code]

[2017-03-08 15:53] burabure commented on #351
@skellock [recursive-iterator](https://www.npmjs.com/package/recursive-iterator) might get the job done.

or one off this [list](https://github.com/ahmadnassri/benchmark-node-clone) should be able to replace clone from ramda, [deep-copy](https://www.npmjs.com/package/deep-copy) looks fast and simple

[2017-03-08 16:08] skellock commented on #351
Sweet @burabure .  Thx for the refs!

[2017-03-08 16:14] skellock commented on #354
I'm up for putting this on Tab 4... I'd like to have a sub-nav switch between React Native tools.

We could piggyback it onto `reactotron-react-native`?

Let me know what I can do to help @rmevans9.

I can do the UI part if you'd like.  I've been considering redoing the UI internals because it's a mess. I always feel guilty when someone goes in there.  :)

[2017-03-08 16:55] rmevans9 commented on #354
That would work for me. I will look to land a PR in the next day or two to wire up shipping this information out of the socket connection.

[2017-03-09 15:13] burabure commented on #351
@skellock we ended up disabling reactotron for now ;___; sadly it silently crashed some of our sagas/actions. I hope a fix for this goes up soon because we loved debugging with reactotron

[2017-03-09 17:18] skellock commented on #351
Thx for letting me know.

Reactotron is back at the top of my list of priorities now that I've finished [gluegun](https://github.com/infinitered/gluegun) and wrapping up [ignite 2](https://github.com/infinitered/ignite).

Keep ya posted.

[2017-03-10 08:39] pahanini opened #357 "Unable to access margins at overlay screen"
At 13,3-inch (2560 x 1600) unable to access to margins at overlay screen (scroll is not working)

<img width="596" alt="screen shot 2017-03-10 at 13 32 35 copy" src="https://cloud.githubusercontent.com/assets/898663/23788070/c61cbc5e-0596-11e7-9ed2-a9ed7e58ebb2.png">

[2017-03-10 13:37] marciobueno1 opened #358 "global.BlobBuilder issue"
![screen shot 2017-03-10 at 10 12 15](https://cloud.githubusercontent.com/assets/9195580/23797074/db332a98-057c-11e7-9cc7-db25f105abd7.png)

I am trying to use the Reactotron.createStore, but it gives me this error...

I was able to make this work if I put all redux, createStore, middleware, saga, ... in the same file.

But, I am not getting what configuration I am done wrong when I split this on

[2017-03-12 02:04] #357 closed

[2017-03-12 02:05] skellock commented on #357
Thx for the report.  Will be pushing this out tomorrow.

[2017-03-12 02:54] #344 closed

[2017-03-12 02:56] skellock commented on #344
Thx dude.  Sorry about that.  We're skipping images now.  It's now [configurable with a regex](https://github.com/infinitered/reactotron/blob/master/packages/reactotron-apisauce/src/index.js#L14) in the `apisauce` plugin if you need to target custom `content-type`s.

[2017-03-12 02:57] skellock commented on #344
Shipping shortly.

[2017-03-12 03:53] #346 closed

[2017-03-12 03:53] skellock commented on #346
Thx man.  This will be in for the next release shortly.

[2017-03-12 04:39] #343 closed

[2017-03-12 04:40] skellock commented on #343
Heyo.  You can now turn reconnects off if you like.  Hope that solves the problem.  Lemme know if it was something else.

This will be going out in 1.9 which will be tomorrow.

[2017-03-12 04:42] skellock commented on #301
Yep.  Found a way to intercept all network requests (in React Native at least).  I'll be adding this in shortly.

[2017-03-12 04:43] skellock commented on #298
Going to close this up.  An optional plugin would be welcomed though!

[2017-03-12 04:43] #298 closed

[2017-03-12 04:44] skellock commented on #286
In 1.9, we will support both promises and unknown as a fallback.  🎉

[2017-03-12 04:44] #286 closed

[2017-03-12 04:45] skellock commented on #306
1.9 will put to rest a long standing bug with RNRF.  Yay!

[2017-03-12 04:45] #306 closed

[2017-03-12 04:47] skellock commented on #324
1.9 will have some improvements in the serialization.  In 2.0, I've removed `socket.io` entirely which means, i don't have to do a serialize/deserialize/serialize dance.  No cloning happens either, so they're no huge allocations.

Thanks guys.  Glad to put this one to rest.

[2017-03-12 04:47] #324 closed

[2017-03-12 04:49] skellock commented on #308
Feel free to re-open this if you are stuck.  Side note... Exponent works great!  Tried it last night.

[2017-03-12 04:49] #308 closed

[2017-03-12 04:50] skellock commented on #322
I'll put this on the roadmap.. but won't be happening for the 2.x release.

[2017-03-12 04:50] #322 closed

[2017-03-12 04:50] #311 closed

[2017-03-12 04:51] skellock commented on #211
1.9 will put this stuff to rest finally.

[2017-03-12 04:51] #211 closed

[2017-03-12 04:51] skellock commented on #229
2.0 will not have the CLI any longer.  Thx!

[2017-03-12 04:51] #229 closed

[2017-03-12 04:51] skellock commented on #242
This is fixed in 1.9.  Sorry about that.

[2017-03-12 04:51] #242 closed

[2017-03-12 04:52] #168 closed

[2017-03-12 04:52] #13 closed

[2017-03-12 04:52] #7 closed

[2017-03-12 04:52] skellock commented on #18
This is in place now.

[2017-03-12 04:52] #18 closed

[2017-03-12 04:53] skellock commented on #219
This is in place now.  2.0 will replace socket.io.

[2017-03-12 04:53] #219 closed

[2017-03-12 04:55] skellock commented on #327
Mr Shruggy is going away.  I'm now passing `~~~ undefined ~~~` for undefined on the client.  I'll sweep through and remove that character.

RIP.

[2017-03-12 04:55] #327 closed

[2017-03-12 04:56] skellock commented on #351
Fixed in 1.9.  Shipping tomorrow.

[2017-03-12 04:56] #351 closed

[2017-03-12 04:56] skellock commented on #337
Fixed in 1.9 shipping tomorrow.

[2017-03-12 04:56] #337 closed

[2017-03-12 04:57] skellock commented on #276
This is all in place now.  :1st_place_medal:

[2017-03-12 04:57] #276 closed

[2017-03-12 04:58] skellock commented on #275
Fixed in 1.9.  Shipping tomorrow.

[2017-03-12 04:58] #275 closed

[2017-03-12 05:00] skellock commented on #214
Feel free to re-open if you're still stuck.  RNRF is working with Reactotron nicely these days.  Even better in 1.9 tomorrow.

[2017-03-12 05:00] #214 closed

[2017-03-12 05:01] skellock commented on #347
TBH I don't think i'm going to support building on Windows.  I just don't use it day to day.  I'm not familiar with all the tricks one has to do to install the right stuff.

I'm able to make windows builds from the mac.

I would welcome a PR if anyone figures it out.

[2017-03-12 05:01] #347 closed

[2017-03-12 05:03] skellock commented on #193
Parts of this are fixed.  Multiple clients will be on the roadmap for the future, but not in 2.x.  Thx all!

[2017-03-12 05:03] #193 closed

[2017-03-12 05:11] skellock commented on #313
Feel free to re-open if you're still stuck.

[2017-03-12 05:11] #313 closed

[2017-03-12 05:11] #305 closed

[2017-03-12 21:04] skellock commented on #301
#368 supports this for React Native.

[2017-03-12 21:04] #301 closed

[2017-03-12 21:08] skellock commented on #354
I think is good for now.  Let's see what we want when it gets used in action.

#366

[2017-03-12 21:08] #354 closed

[2017-03-12 22:41] ajonno opened #372 "wiring up to Redux"
hi there, thanks again for this super handy tool ! In a React Native app I'd like to wire it up to Redux but need some guidance. I'm using the ex-Navigation lib too and my store setup looks like this:

[code]

I tried ```Reactotron.createStore,``` in the above but that didnt work. Appreciate any help you can lend on this, thanks.

[2017-03-12 22:49] rmevans9 commented on #372
When you say it didn't work - what happened? I assume when you say you used `Reactotron.createStore` you mean you replaced it on line 2 of your example.

[2017-03-12 22:59] ajonno commented on #372
sorry - it's "mr cart before the horse" here.  i just saw the doco on wiring up Redux.

so i did that setup  :-0

here is config:
[code]

here is the store setup:
[code]

i obviously can't invoke/include this way as it just throws a syntax error.
![image](https://cloud.githubusercontent.com/assets/3005269/23836893/82eb53b6-07d3-11e7-9ebc-8071e88cfa73.png)

should i be applying / including Reactotr

[2017-03-12 23:09] ajonno commented on #372
i think this might do it, testing it out now:

[code]

[2017-03-12 23:11] skellock commented on #358
Thanks for the repro.  Makes it nice to track these things down.

Two things:

There's a bug in Reactotron that I'll fix up.  But you need a 3rd parameter to be a identity function if you're not using middleware.  Change [that line](https://github.com/marciobueno1/Reactotron-Navigation-Redux-Example/blob/master/store.js#L7) to:

[code]

I'll fix that up.

The other issue is:  for React Native proj

[2017-03-12 23:11] #358 closed

[2017-03-12 23:22] skellock commented on #372
I'm not familiar with ex-navigation unfortunately.  I can tell you though, I've had issues with multiple stores.  There's one drawback with redux middleware.  It's pretty picky about the order of things.

Another option you have if you want to do things manually to play nicely with ExNavigation is to something like this:

[code]

These are the things we're doing in [our createStore()](https://gith

[2017-03-12 23:23] ajonno commented on #372
working like a charm. where has this been all my life!! ;-) LOVE IT !

quick one - how can I filter out unwanted events eg.

![image](https://cloud.githubusercontent.com/assets/3005269/23837099/12716716-07d7-11e7-8f26-5f842442cfb9.png)

[2017-03-12 23:27] skellock commented on #372
[Like this](https://github.com/infinitered/reactotron/blob/master/docs/plugin-redux.md#except).

[2017-03-12 23:27] #372 closed

[2017-03-12 23:40] ajonno commented on #372
thanks Steve. can you tell i was a bit over-eager? !  **really** appreciate the work you've done on this is a huge help.

[2017-03-13 10:45] andreiconstantinescu commented on #344
Awesome news! Thank you @skellock for fixing this! :)

[2017-03-13 15:41] marciobueno1 commented on #358
Thanks for taking your time to having a look on this, now it is working...

I pushed the changes to my repository removing all babel and eslint related things...

Later, I will try to put some of the eslint config to see if it still works...

[2017-03-13 16:01] nhducit commented on #200
I use `react-boilerplage` with SSR branch. got the same problem with @aight8.

[2017-03-14 20:07] burabure commented on #351
@skellock it's working perfectly now! thanks!

[2017-03-15 07:01] deepaksisodiya commented on #301
@skellock
Please update the readme according.

[2017-03-17 15:44] tolu360 opened #379 "[Question] - Where do I look for AsyncStorage logs?"
First off, thank you for this awesome product. Extremely neat and useful.

I am just getting started with `Reactotron`, wiring it up in my `react-native` project was a breeze. I hooked up the `asyncStorage` plugin but I clearly don't know where to look in `Reactotron` UI for the logs. My set up looks like:

[code]

Please, am I missing something? My version of `Reactotron` says 1.6. Thank you

[2017-03-17 16:17] skellock commented on #379
Heyo... you'll need the latest build (1.9) in your codebase as well as the app to see it.

[2017-03-17 16:17] #379 closed

[2017-03-17 16:18] skellock commented on #379
oh and ty for the kind words.  =)

[2017-03-17 16:25] tolu360 commented on #379
You are very welcome @skellock. Thank you for one of the fastest responses have ever got! Now downloading the latest from `releases`. I guess the `getting started` instructions [here](https://github.com/infinitered/reactotron/blob/master/docs/quick-start-react-native.md) are now a bit dated. Cheers

[2017-03-17 16:34] skellock commented on #379
Oops!  Thank you for telling me.  Fixed with #380.

[2017-03-18 02:29] Eyesonly88 opened #381 "Feature Request: display code surrounding loc in index.ios.bundle to show the root cause"
Let me start by saying, I _love_ using Reactotron 😍  💯 .

Sometimes we get errors when upgrading RN or when using 3rd party libraries and those errors are quite vague such as this one:

![image](https://cloud.githubusercontent.com/assets/767013/24068245/b47c49ca-0bee-11e7-88f4-00faf6bda7b5.png)

The cause for the error above was my own code throwing a `Error` object but as you can see the code sho

[2017-03-23 00:07] rmevans9 commented on #381
I agree - I think reactotron can do a better job symbolcating RN errors. I am going to take a cruise around what this might look like.

[2017-03-23 00:27] rmevans9 commented on #381
Looking into this a bit - it ends up with that stack trace only if you have remote debugging on - in which case it actually shows the error twice in Reactotron. Once with a "good" stacktrace and once with this one. Can you confirm if you:

1. Had remote debugging on
2. Have more then one error reported when this crash occurs?

[2017-03-23 00:42] rmevans9 commented on #292
@skellock

[code]

Obviously we wouldn't want to report it as an error but if we extract out the symbolcating bit then this gives you the stack trace in the form that we send up on exception

[2017-03-23 03:29] Eyesonly88 commented on #381
Thanks for digging into this.

1. Nope, I don't think I had debugging on.
2. My code was throwing a `new Error(msg)`. There were no other errors.

Hmm, in my case, Reactotron didn't show error twice 😕 (only got the bad one).

Have you tried reproducing with throwing an error `new Error(msg)` in your code?

[2017-03-23 10:11] anthony-skr commented on #314
https://github.com/infinitered/reactotron/blob/master/docs/plugin-open-in-editor.md

The documentation is wrong about openInEditor being available under reactotron-react-js.
Just to let you know!

[2017-03-24 09:05] prithsharma opened #385 "[react-native] API responses don't show when 'Debug JS Remotely' is on"
Is this expected according to the information present [here](https://github.com/infinitered/reactotron/blob/master/docs/troubleshooting.md#turn-off-remote-js-debugging)?
The troubleshooting docs mention this as a problem with RN Android but I am seeing it in iOS.

[2017-03-24 13:44] skellock commented on #385
I don't often turn Debug JS Remotely on.  You're saying it doesn't work on iOS either?   I used to work on both many moons ago.  I wonder if it's an easy fix?